<div class="detailsContainer">
    <div class="detailsCard">
        <div class="detailsBody">
            <div>
                <span class="homeLink">Home</span>
                >
                <span>Businnes name</span>
            </div>
            <div>
                <img src=""> <span>Businnes name</span>
            </div>
            <div class="detailsDescription">
                Long Description about the businnes
            </div>
            <div class="detailsContact">
                <div class="detailsContactInfo">Branch List</div>
                <div class="detailsContactInfo">Phone Number</div>
                <div class="detailsContactInfo">Mail</div>
                <div class="detailsContactInfo">WebSite</div>
                <div class="detailsContactInfo">FaceBook</div>
                <div class="detailsContactInfo">Intagram</div>
            </div>
        </div>
    </div>
</div>