<div class="detailsContainer">
    <div class="detailsCard">
        <div class="detailsBody">
            <div>
                <span class="homeLink"><a href="/">Home</a></span>
                >
                <span><%= supplier.name %></span>
            </div>
            <div>
                <img src=""> <span><%= supplier.name %></span>
            </div>
            <div class="detailsDescription">
                <%= supplier.description %>
            </div>
            <div class="detailsContact">
                <div class="detailsContactInfo"><%= supplier.contact_info %></div>
                <div class="detailsContactInfo">Phone Number</div>
                <div class="detailsContactInfo">Mail</div>
                <div class="detailsContactInfo">WebSite</div>
                <div class="detailsContactInfo">FaceBook</div>
                <div class="detailsContactInfo">Intagram</div>
            </div>
        </div>
    </div>
</div>