<footer>
    <div class="footer-top">
        <div class="footer-contact">
            <h4>דברו איתנו</h4>
            <p><a href="mailto:support@buyme.co.il">support@buyme.co.il</a></p>
            <p><a href="tel:+9723737117">03-3737117</a></p>
            <p>א-ה: 9:00-21:00</p>
            <p>ו (שעון חורף): 9:00-15:00</p>
        </div>
        <div class="footer-links">
            <h4>BUYME</h4>
            <ul>
                <li><a href="#">כניסת בתי עסק - שותפים</a></li>
                <li><a href="#">אודות</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">תקנון האתר</a></li>
                <li><a href="#">מדיניות הגנת פרטיות</a></li>
                <li><a href="#">הצהרת נגישות</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h4>כל מה שחשוב</h4>
            <ul>
                <li><a href="#">שאלות ותשובות</a></li>
                <li><a href="#">טיפים למתנות שוות</a></li>
                <li><a href="#">BUYME ALL מתנות</a></li>
                <li><a href="#">BUYME MULTI מתנות</a></li>
            </ul>
        </div>
        <div class="footer-newsletter">
            <h4>רעיונות למתנות וחוויות</h4>
            <p>עם הניוזלטר של BUYME יהיה לך תמיד רעיונות מפתיעים למתנות וחוויות. אנחנו מבטיחים לשלוח לך רק מה שמעניין ולא להעמיס.</p>
            <form action="#" method="POST">
                <input type="email" placeholder="כתובת המייל שלך" required>
                <button type="submit">תעדכנו אותי, כן?</button>
            </form>
            <label>
                <input type="checkbox" required> כאן מאשר/ת לקבלת דואר פרסומי
            </label>
        </div>
    </div>
    <div class="footer-container">
        <!-- The rest of your footer columns go here -->
    </div>
</footer>


<footer>
    <div class="footer-container">
        <div class="footer-column">
            <ul>
                <li><a href="#">רשתות BUYME STYLE</a></li>
                <li><a href="#">BUYME FUNDAY</a></li>
                <li><a href="#">BUYME MIX</a></li>
                <li><a href="#">חברות וארגונים - מתנות לעובדים</a></li>
                <li><a href="#">תקנון האתר</a></li>
                <li><a href="#">מאמרים</a></li>
                <li><a href="#">אודות</a></li>
                <li><a href="#">תקנון כרטיס מגנטי- עזריאלי</a></li>
                <li><a href="#">ניפט קארד</a></li>
                <li><a href="#">תקנון GIFT CARD מגנטי</a></li>
                <li><a href="#">מדיניות הגנת פרטיות</a></li>
                <li><a href="#">שאלות תשובות</a></li>
                <li><a href="#">תקנון מתנה משותפת</a></li>
                <li><a href="#">פעילות צוותית</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">מדוע חשוב לתת מתנות</a></li>
                <li><a href="#">תנאים לעובדים</a></li>
                <li><a href="#">המתנות האהובות ביותר ליום הולדת</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="#">מסעדות בקטנה</a></li>
                <li><a href="#">מסעדות כשרות</a></li>
                <li><a href="#">ניפט קארד למתנות קולינריות</a></li>
                <li><a href="#">עסקים במילואים</a></li>
                <li><a href="#">מתנות לגננות</a></li>
                <li><a href="#">מתנות ליום הולדת</a></li>
                <li><a href="#">מתנות סוף שנה למורים</a></li>
                <li><a href="#">מתנות סוף שנה למורה ולגננת</a></li>
                <li><a href="#">מתנות לידה</a></li>
                <li><a href="#">מתנות עד הבית</a></li>
                <li><a href="#">מתנות ליום האהבה</a></li>
                <li><a href="#">מתנות למורים</a></li>
                <li><a href="#">מתנות לחינה</a></li>
                <li><a href="#">מתנות לגבר</a></li>
                <li><a href="#">מתנות תודה</a></li>
                <li><a href="#">חדשים באתר</a></li>
                <li><a href="#">הכי נמכרים</a></li>
                <li><a href="#">ניפט קארד למנוי</a></li>
                <li><a href="#">מתנה ליום נישואין</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="#">מתנות זהב לעובדים</a></li>
                <li><a href="#">מתנות סוף שנה לעובדים</a></li>
                <li><a href="#">מתנה למורה הנהדרת</a></li>
                <li><a href="#">מתנות לחברה</a></li>
                <li><a href="#">מתנות לחתונה</a></li>
                <li><a href="#">מתנה לסבא</a></li>
                <li><a href="#">מתנה לסבתא</a></li>
                <li><a href="#">חוויות משפחתיות</a></li>
                <li><a href="#">מתנות מקוריות לצוות</a></li>
                <li><a href="#">מתנה לבית הצוות</a></li>
                <li><a href="#">מתנות במשלוח</a></li>
                <li><a href="#">מתנות לגננות</a></li>
                <li><a href="#">מתנה ליום הילדה</a></li>
                <li><a href="#">מתנות עד הבית</a></li>
                <li><a href="#">מתנה ליום האהבה</a></li>
                <li><a href="#">מתנות לרופאים</a></li>
                <li><a href="#">מתנות למורים</a></li>
                <li><a href="#">מתנות לרופאים</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="#">רשתות BUYME STYLE</a></li>
                <li><a href="#">BUYME FUNDAY</a></li>
                <li><a href="#">BUYME MIX</a></li>
                <li><a href="#">חברות וארגונים - מתנות לעובדים</a></li>
                <li><a href="#">תקנון האתר</a></li>
                <li><a href="#">מאמרים</a></li>
                <li><a href="#">אודות</a></li>
                <li><a href="#">תקנון כרטיס מגנטי- עזריאלי</a></li>
                <li><a href="#">ניפט קארד</a></li>
                <li><a href="#">תקנון GIFT CARD מגנטי</a></li>
                <li><a href="#">מדיניות הגנת פרטיות</a></li>
                <li><a href="#">שאלות תשובות</a></li>
                <li><a href="#">תקנון מתנה משותפת</a></li>
                <li><a href="#">פעילות צוותית</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">מדוע חשוב לתת מתנות</a></li>
                <li><a href="#">תנאים לעובדים</a></li>
                <li><a href="#">המתנות האהובות ביותר ליום הולדת</a></li>
            </ul>
        </div>
    </div>
</footer>
