<footer>
    <div class="footer-top">
        <div class="footer-contact">
            <h4>דברו איתנו</h4>
            <p><a href="mailto:support@Gifty.co.il">support@Gifty.co.il</a></p>
            <p><a href="tel:+9723737117">03-3737117</a></p>
            <p>א-ה: 9:00-21:00</p>
            <p>ו (שעון חורף): 9:00-15:00</p>
        </div>
        <div class="footer-links">
            <h4>Gifty</h4>
            <ul>
                <li><a href="/terms">תקנון האתר</a></li>
                <li><a href="/aboutUs">אודות</a></li>
                <li><a href="/whyGiveGifts">מדוע חשוב לתת מתנות תמריץ לעובדים</a></li>
               
            </ul>
        </div>
        <div class="footer-newsletter">
            <h4>שתף אותנו בחוויות שלך!</h4>
            <p>היית מרוצה מהמוצר או מהשירות שלנו? נשמח לשמוע את דעתך! השאירו חוות דעת בפייסבוק ושתפו אותנו בחוויה שלכם. חוות הדעת שלכם עוזרת לנו להשתפר ולהציע לכם את המיטב. תודה על התמיכה!</p>
            <div class="inputButton">
                <input type="text" id="messageInput" placeholder="הכנס חוות דעת">
                <button id="postButton">פרסם בפייסבוק</button>
            </div>
            <!-- <label>
                <input type="checkbox" required> כאן מאשר/ת לקבלת דואר פרסומי
            </label> -->
        </div>
    </div>
    <div class="footer-bottom">
        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
                <img src="/css/Images/socialIcons/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
                <img src="/css/Images/socialIcons/facebook.png" alt="Facebook">
            </a>
            <a href="tel:+9723737117" class="social-icon">
                <img src="/css/Images/socialIcons/phone.png" alt="Phone">
            </a>
            <a href="mailto:support@Gifty.co.il" class="social-icon">
                <img src="css/Images/socialIcons/mail.png" alt="Email">
            </a>
        </div>
    </div>
</footer>

<script src="/js/facebookPost.js"></script>
