<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/giftCards.css">
    <title>Gift Cards - Gifty</title>
</head>
<body>

    <main class="container mt-5 gift-cards">
        <h2 class="text-center mb-4">כרטיסי מתנה</h2>
        <div class="row">
            <% items.forEach(item => { %>
                <div class="col-md-4 mb-4">
                    <div class="card gift-card h-100">
                        <img src="/<%= item.imgPath.replace(/\\/g, '/') %>" alt="<%= item.name %> Logo" class="card-img-top">
                        <div class="card-body-wrapper gift-card-body-wrapper d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title gift-card-title"><%= item.name %></h5>
                            <a href="/shop/item/<%= item._id %>" class="btn btn-primary mt-auto">View Businesses</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
