<header class="header py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            <h1>BuyMe</h1>
        </div>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutUs">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="user-account d-flex">
            <% if (user) { %>
                <span class="nav-link">Hello, <%= user.name %></span>
                <a class="nav-link" href="/logout">Logout</a>
            <% } else { %>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="#">Cart (0)</a>
            <% } %>
        </div>
    </div>
</header>
