<section class="intro text-center py-5">
    <img src="/css/Images/gifty/gifty_card.png" alt="Gifry Logo" class="img-fluid mb-3" style="max-width: 150px;">
    <h1>ברוכים הבאים ל-Gifty</h1>
    <p>החנות שלך לכל מה שצריך!</p>
    <p>גלה מבצעים מדהימים ומוצרים חדשים בכל יום.</p>
</section>
