<section class="hero-section d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="text-content">
            <h1>Gifty</h1>
            <p>Your one-stop shop for digital gift cards</p>
        </div>
        <div class="image-content">
            <img src="/css/Images/gifty/hero.png" alt="Gigt" class="img-fluid">
        </div>
    </div>
</section>
