<form action="/update-payment-method" method="POST">
    <div class="paymentCard-Container">
        <div class="paymentCard-Header">
            Adding A Credit Card
        </div>
        <div class="paymentCard-Body">
            <div class="form-group">
                <label for="cardName">Name on Card</label>
                <div class="name-group">
                    <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="userId">User ID</label>
                <input type="text" id="userId" name="id_number" required>
            </div>
            <div class="form-group">
                <label for="cardNumber">Card Number</label>
                <input type="text" id="cardNumber" name="card_number" required>
            </div>
            <div class="form-group">
                <label>Expiry Date</label>
                <div class="expiry-cvv-group">
                    <input type="text" id="expiryMonth" name="expiry_month" placeholder="MM" maxlength="2" required>
                    <input type="text" id="expiryYear" name="expiry_year" placeholder="YYYY" maxlength="4" required>
                    <input type="text" id="cvv" name="cvv" placeholder="CVV" maxlength="3" required>
                </div>
            </div>
            <div class="form-group">
                <label>Address To Send</label>
                <div class="address-group">
                    <input type="text" id="city" name="billing_city" placeholder="City">
                    <input type="text" id="street" name="billing_street" placeholder="Street">
                    <input type="text" id="number" name="billing_number" placeholder="Number">
                </div>
            </div>
            <div>
                <div class="checkbox-group">
                    <label for="saveCardInfo" class="checkbox-label">
                        Save this credit card for future use
                    </label>
                    <input type="checkbox" id="saveCardInfo" name="saveCardInfo" class="checkbox-input">
                </div>
            </div>
        </div>
        <button class="paymentButton" type="submit">Pay Now</button>
    </div>
</form>
