<div class="priceCardContainer">
    <div><img></div>
    <div class="priceAndButton-container">
    <div>
        <input class="priceInput" type="text" placeholder="Enter Amount">
    </div>
    <div>
        <a href='/payment'><button class="priceCard-confirmButton">Confirm</button></a>
    </div>
</div>
</div>