<style>
    .full-height-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh; /* Full viewport height */
    }
  </style>
  
  <div class="full-height-container">
    <section class="search-bar container py-5">
        <h2 class="text-center mb-4">מצא את מה שאתה מחפש</h2>
        <div class="d-flex justify-content-center">
            <form class="row g-3 col-md-8" method="GET" action="/search">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keywords" placeholder="מילות מפתח">
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="category">
                        <option value="">Category</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Food">Food</option>
                        <option value="Sport">Sport</option>
                        <option value="Spa">Spa</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="maxPrice" placeholder="Max Price">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="geoRegion" placeholder="Geo Region">
                </div>
                <div class="col-12 text-center mt-3">
                    <button type="submit" class="btn btn-primary search-btn">חפש</button>
                </div>
            </form>
        </div>
    </section>
</div>
