<div class="full-height-container">
    <section class="search-bar container py-5">
        <h2 class="text-center mb-4">מצא את מה שאתה מחפש</h2>
        <div class="d-flex justify-content-center">
            <form class="row g-3 col-md-8" method="GET" action="/search">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keywords" placeholder="מילות מפתח">
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="category">
                        <option value="">קטגוריה</option>
                        <option value="Fashion">אופנה</option>
                        <option value="Electronics">אלקטרוניקה</option>
                        <option value="Food">מזון</option>
                        <option value="Sport">ספורט</option>
                        <option value="Spa">ספא</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="maxPrice" placeholder="מחיר מקסימלי">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="geoRegion" placeholder="אזור גיאוגרפי">
                </div>
                <div class="col-12 text-center mt-3">
                    <button type="submit" class="btn btn-primary">חפש</button>
                </div>
            </form>
        </div>
    </section>
</div>
