<div class="search-bar mt-4">
    <h2 class="text-center mb-4">Find What You're Looking For</h2>
    <div class="search-bar-container">
        <form class="d-flex w-100" method="GET" action="/search">
            <!-- Search by Category -->
            <select class="form-control me-2" name="category">
                <option value="">Category</option>
                <option value="Fashion">Fashion</option>
                <option value="Electronics">Electronics</option>
                <option value="Food">Food</option>
                <option value="Sport">Sport</option>
                <option value="Spa">Spa</option>
            </select>
            <!-- Search by Business Name -->
            <input type="text" class="form-control me-2" name="businessName" placeholder="Business Name">
            <button type="submit" class="btn btn-primary search-btn">Search</button>
        </form>
    </div>
</div>
