<section class="special-offers py-5">
    <div class="container">
        <h2 class="text-center mb-4">Special Offers</h2>
        <div class="row">
            <!-- Offer 1 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Special Offer 1</h5>
                        <p class="card-text">This is a description of the first special offer. It includes great discounts and amazing deals.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Offer 2 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Special Offer 2</h5>
                        <p class="card-text">This is a description of the second special offer. Don't miss out on these exclusive deals.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Offer 3 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Special Offer 3</h5>
                        <p class="card-text">This is a description of the third special offer. Hurry up and take advantage of these offers.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
