

<section class="special-offers py-5">
    <div class="container">
        <h2 class="text-center mb-4">כרטיס מתנה לקבוצת רשתות</h2>
        <div class="row">
            <!-- Offer 1 -->
            <div class="col-md-4">
                <a href="/shop/6692d0e5858fa303a4c4e4d5">
                    <div class="card text-center">
                        <div class="card-body-wrapper">
                            <div class="card-body">
                                <h5 class="card-title">גיפט קארד למותגי אופנה</h5>
                            </div>
                        </div>
                        <img src="/css/Images/categories/Fashion/Fashion_shopping.webp" alt="Special Offer 1">
                    </div>
                </a>
            </div>
            <!-- Offer 2 -->
            <div class="col-md-4">
                <a href="/shop/6692d0e5858fa303a4c4e4d6">
                    <div class="card text-center">
                        <div class="card-body-wrapper">
                            <div class="card-body">
                                <h5 class="card-title">גיפט קארד למסעדות</h5>
                            </div>
                        </div>
                        <img src="/css/Images/businesses/BBBurger/BBBurger_card_3.jpg" alt="Special Offer 2">
                    </div>
                </a>
            </div>
            <!-- Offer 3 -->
            <div class="col-md-4">
                <a href="/shop/6692d0e5858fa303a4c4e4d8">
                    <div class="card text-center larger-card">
                        <div class="card-body-wrapper">
                            <div class="card-body">
                                <h5 class="card-title">גיפט קארד לבתי ספא</h5>
                            </div>
                        </div>
                        <img src="/css/Images/categories/Spa/SPA_3.jpg" alt="Special Offer 3">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
