<section class="special-offers py-5">
    <div class="container">
        <h2 class="text-center mb-4">Special Offers</h2>
        <div class="row">
            <!-- Example Offer -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://example.com/offer1.jpg" class="card-img-top" alt="Special Offer 1">
                    <div class="card-body">
                        <h5 class="card-title">Special Offer 1</h5>
                        <p class="card-text">Discount details</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for other offers -->
        </div>
    </div>
</section>
