<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>אודות</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('partials/header') %>
    <main class="container my-5">
        <h1 class="text-center mb-5">אודות</h1>
        <div class="row">
            <div class="col-md-6 mb-4">
                <section class="bg-light p-4 rounded shadow-sm">
                    <h2 class="mb-3">מי אנחנו?</h2>
                    <p>נעים להכיר, אנחנו Gifty – אתר המתנות והחוויות הגדול בישראל!</p>
                    <p>הבסטי חוגגת יום הולדת? אחותך ילדה? הקולגה עזב? או שאתם פשוט רוצים להגיד למישהו תודה? עם Gifty אפשר לשמח ולרגש מכל הלב עם מתנה או חוויה שמתאימה בול בדרך הכי נוחה ומהנה.</p>
                </section>
            </div>
            <div class="col-md-6 mb-4">
                <section class="bg-light p-4 rounded shadow-sm">
                    <h2 class="mb-3">איך זה עובד?</h2>
                    <p>אפליקציית Gifty כוללת מגוון ענק של יותר מ-1,200 מתנות שבאמת כיף לתת ולקבל! בוחרים את המתנה שהכי תשמח, מוסיפים ברכה וגם תמונה או סרטון, ושולחים ישירות לנייד באמצעות SMS, לווטסאפ או למייל.</p>
                </section>
            </div>
            <div class="col-md-6 mb-4">
                <section class="bg-light p-4 rounded shadow-sm">
                    <h2 class="mb-3">אילו מתנות יש ב-Gifty?</h2>
                    <p>Gifty מציעה מגוון אדיר של מתנות עד הבית, ארוחות במסעדות שף ובתי קפה, בילוי בבתי ספא, מלונות יוקרה, מלונות וצימרים, יופי וטיפוח, מותגי אופנה ושופינג במגוון רשתות וחנויות, סדנאות, חוויות אקסטרים ועוד.</p>
                </section>
            </div>
            <div class="col-md-6 mb-4">
                <section class="bg-light p-4 rounded shadow-sm">
                    <h2 class="mb-3">מתנה פרסונלית שמתאימה לכל אחד!</h2>
                    <p>עם היצע אדיר של מתנות וחוויות המתעדכן כל הזמן, תוכלו למצוא את המתנות הכי מקוריות, טרנדיות ומרגשות שמתאימות לכל אחד ואחת. בין אם מדובר במתנה לאמא, מתנה לאבא, מתנה ליום הולדת, מתנת לידה, מתנת תודה, מתנה למורה, מתנה לבידוד או מתנת פרידה, ב-Gifty תמצאו כל סוג של מתנה, לכל הזדמנות!</p>
                </section>
            </div>
            <div class="col-md-6 mb-4">
                <section class="bg-light p-4 rounded shadow-sm">
                    <h2 class="mb-3">איך שולחים את המתנה?</h2>
                    <p>אחרי שבוחרים את המתנה וממלאים את הפרטים של מקבל או מקבלת המתנה, אפשר לבחור אם המתנה תשלח מידית או לתזמן לה תאריך ושעה אחרים. לכל מתנה תוכלו לצרף ברכה אישית – ובאפליקציה ניתן גם להקליט אותה, וגם תמונה שלכם או סלפי, ואפילו סרטון קצר שיהפוך את המתנה להרבה יותר אישית ומרגשת, ויעלה חיוך ענק על פניהם של המקבלים את המתנה.</p>
                </section>
            </div>
            <div class="col-md-6 mb-4">
                <section class="bg-light p-4 rounded shadow-sm">
                    <h2 class="mb-3">האם הקנייה בטוחה?</h2>
                    <p>ברור שכן! הקניה באתר מאובטחת בטכנולוגיית SSL 256Bit שהוא התקן המוביל בעולם לאבטחת העברות כספיות. אנו מעבירים את פרטי כרטיס האשראי למערכת הסליקה הבנקאית מיד, ואיננו שומרים אצלנו את פרטי הכרטיס.</p>
                </section>
            </div>
        </div>

    </main>
    <%- include('partials/footer') %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
