<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Card From - </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/supplier.css">
</head>
<body>
    <%- include('partials/header') %>

    <p id="displayValue"></p>

    <%- include('partials/footer') %>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const displayValue = document.getElementById('displayValue');
            const params = new URLSearchParams(window.location.search);
            const value = params.get('value');

            if (value) {
                displayValue.textContent = `Received value: ${decodeURIComponent(value)}`;
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
