<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>עמוד הרשמה</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
    <div class="registration-modal">
        <div class="modal-content">
            <h2>הרשמה</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id-number">ת.ז</label>
                        <input type="text" class="form-control" id="id-number" placeholder="הכנס ת.ז">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="first-name">שם פרטי</label>
                        <input type="text" class="form-control" id="first-name" placeholder="הכנס שם פרטי">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="last-name">שם משפחה</label>
                        <input type="text" class="form-control" id="last-name" placeholder="הכנס שם משפחה">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">כתובת מייל</label>
                        <input type="email" class="form-control" id="email" placeholder="הכנס כתובת מייל">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">ססמא</label>
                        <input type="password" class="form-control" id="password" placeholder="הכנס ססמא">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="address">כתובת מגורים</label>
                        <input type="text" class="form-control" id="address" placeholder="הכנס כתובת מגורים">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone-number">מספר טלפון</label>
                    <input type="tel" class="form-control" id="phone-number" placeholder="הכנס מספר טלפון">
                </div>
                <button type="submit" class="btn btn-primary btn-block">הירשם</button>
            </form>
            <div class="footer">
                <a href="/login.ejs">כבר רשום? התחבר</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
