<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/terms.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>תקנון האתר</title>
    <link rel="icon" href="/css/Images/gifty/gifty_card.png" type="image/png">
</head>
<body>
    <%- include('partials/header') %>
    <div class="terms-container">
        <h1>תקנון האתר</h1>
        <p>תקנון האתר</p>
        <p>להלן תמצית תנאי השימוש לשימוש והגלישה באתר gifty ("התקנון" ו-"האתר") ובשירותים המסופקים בו, אשר מהווה תנאים עיקריים ותמציתיים בלבד ואשר אין בהם כדי למצות את כלל הוראות תנאי התקנון וההתקשרות עם גיפטי טכנולוגיות בע"מ ו/או כדי לגרוע מאיזה מהוראות התקנון.</p>
        <p>למונחים אשר נעשה בהם שימוש בתמצית זו תהא המשמעות הנתונה להם בתקנון.</p>

        <h2>1. מנפיק השוברים ומנהל האתר</h2>
        <p>אתר האינטרנט והשוברים המונפקים בו מופעלים ומונפקים על ידי חברת גיפטי טכנולוגיות בע"מ ("גיפטי"). גיפטי טכנולוגיות בע"מ פטורה מרישיון לפי חוק הסדרת העיסוק בשירותי תשלום וייזום תשלום, התשפ"ג 2023 ולכן אינה מפוקחת על ידי רשות ניירות ערך לעניין שירותי התשלום הניתנים על ידה.</p>

        <h2>2. הרשמה באתר</h2>
        <p>השימוש באתר ובשירותיו כפופים, בין היתר: (א) להרשמה לאתר ולבחירת שם משתמש וסיסמה לשימוש באתר; (ב) להיות המשתמש בן/בת 18 שנה ומעלה בעל כרטיס אשראי ישראלי בתוקף; ו-(ג) לאישור התקנון על ידי המשתמש בו.</p>

        <h2>3. רכישת שובר</h2>
        <p>
            א. רכישת שובר תיעשה על ידי רוכש, בעמוד המכירה באתר של השובר הרלוונטי.<br>
            ב. המחירים המוצגים לרכישת שובר כוללים מע"מ, אלא אם צוין אחרת במפורש.<br>
            ג. קניה שאושרה מהווה קניה המחייבת בתשלום מלוא הסכום שהוצע בגינה על ידי המציע.<br>
            ד. חיוב הרוכש יתבצע על ידי גיפטי וזאת באמצעות כרטיס האשראי של רוכש השובר.
        </p>

        <h2>4. אופן מימוש השוברים</h2>
        <p>
            א. שוברים ימומשו בבתי העסק לגביהם נרכש השובר בהתאם לפרטים שיופיעו בעמוד המכירה באתר של השובר הרלוונטי.<br>
            ב. שוברים ימומשו בין האמצעות שובר פיזי הנושא קוד שובר בעל 16 ספרות או באמצעות קוד שובר דיגיטלי שיימסר בבית העסק הרלוונטי או במערכת רכישה מקוונת.<br>
            ג. שובר מתנה ימומש פעם אחת בלבד בבית העסק הרלוונטי.<br>
            ד. ושובר כסף יהיה ניתן למימוש מספר פעמים עד לגובה הסכום הטעון בו כדין.
        </p>

        <h2>5. אספקת מוצרים או שירותים</h2>
        <p>אספקת המוצרים/השירותים שנרכשו באמצעות שוברים (והאחריות בגינם) תבוצע על ידי בתי העסק ובאחריותם הבלעדית בהתאם לתנאים המופיעים בתקנון ובעמוד המכירה של השובר לגבי המוצר/שירות באתר.</p>

        <h2>6. רשימת ספקים/בתי עסק</h2>
        <p>רשימת בתי העסק והספקים בהם ניתן לממש שובר תהיה כפי שיופיע בעמוד המכירה הרלוונטי של השובר לגבי המוצר/שירות באתר.</p>

        <h2>7. תוקף השוברים</h2>
        <p>
            א. תוקף שוברים שיירכשו באתר יהיה בהתאם לדין ובכל מקרה לא פחות מ-24 חודשים, כאשר תוקף השובר יצוין בתנאי השובר הרלוונטי.<br>
            ב. תוקפם של שוברים לרכישת מוצר או שירות מסוימים, יכול ויהיה קצר מ-24 חודשים, בהתאם לתנאים המופיעים על גבי השובר.
        </p>

        <h2>8. הוראות לעניין אובדן אמצעי תשלום</h2>
        <p>במקרה בו יאבד שובר, גיפטי תפעל לשחזר את היתרה הצבורה בשובר שאבד או שנגנב לבקשת מי שנחזה בעיניה כמי שהחזיק כדין בשובר, למעט במקרים שבהם אין ביכולתה, במאמצים סבירים, לזהות את השובר של אותו מבקש לצורך שחזור היתרה כאמור, ובלבד שקיימת יתרה צבורה בשובר במועד שבו פנה המבקש כאמור.</p>

        <h2>9. ביטול</h2>
        <p>
            א. ביטול רכישת שובר מהאתר יהיה בהתאם להוראות חוק הגנת הצרכן התשמ'א-1981 העוסקות במכר מרחוק.<br>
            ב. בכפוף לכך שלא נעשה שימוש בשובר ובכפוף לייתר התנאים המפורטים בתקנון, בתוך 14 יום מיום קבלת הודעת הביטול יושב למבטל השובר הסכום ששולם על ידו בגין השובר בניכוי דמי ביטול בשיעור של 5% מסכום העסקה או 100 ש'ח, לפי הנמוך מביניהם.<br>
            ג. לצורך ביטול, יש לפנות בכתב ובאמצעות פניה לשירות הלקוחות של האתר או באמצעות הדואר או באמצעות פקס או באמצעות תקשורת אלקטרונית (כדוגמת דואר אלקטרוני), יכלול את פרטי הרוכש כולל מספר תעודת זהות ואת פרטי השובר.
        </p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
