<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/terms.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>תקנון האתר</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/loginModal') %>
    <div class="terms-container">
        <h1>תקנון האתר</h1>
        <p>תקנון האתר</p>
        <p>להלן תמצית תנאי השימוש לשימוש והגלישה באתר Gifty.co.il ("התקנון" ו-"האתר") ובשירותים המסופקים בו, אשר מהווה תנאים עיקריים ותמציתיים בלבד ואשר אין בהם כדי למצות את כלל הוראות תנאי התקנון וההתקשרות עם ביימי טכנולוגיות בע"מ ו/או כדי לגרוע מאיזה מהוראות התקנון.</p>
        <p>למונחים אשר נעשה בהם שימוש בתמצית זו תהא המשמעות הנתונה להם בתקנון.</p>

        <h2>1. מנפיק השוברים ומנהל האתר</h2>
        <p>אתר האינטרנט והשוברים המונפקים בו מופעלים ומונפקים על ידי חברת ביימי טכנולוגיות בע"מ ("ביי מי"). ביי מי טכנולוגיות בע"מ פטורה מרישיון לפי חוק הסדרת העיסוק בשירותי תשלום וייזום תשלום, התשפ"ג 2023 ולכן אינה מפוקחת על ידי רשות ניירות ערך לעניין שירותי התשלום הניתנים על ידה.</p>

        <h2>2. הרשמה באתר</h2>
        <p>השימוש באתר ובשירותיו כפופים, בין היתר: (א) להרשמה לאתר ולבחירת שם משתמש וסיסמה לשימוש באתר; (ב) להיות המשתמש בן/בת 18 שנה ומעלה בעל כרטיס אשראי ישראלי בתוקף; ו-(ג) לאישור התקנון על ידי המשתמש בו.</p>

        <h2>3. רכישת שובר</h2>
        <p>
            א. רכישת שובר תיעשה על ידי רוכש, בעמוד המכירה באתר של השובר הרלוונטי.<br>
            ב. המחירים המוצגים לרכישת שובר כוללים מע"מ, אלא אם צוין אחרת במפורש.<br>
            ג. קניה שאושרה מהווה קניה המחייבת בתשלום מלוא הסכום שהוצע בגינה על ידי המציע.<br>
            ד. חיוב הרוכש יתבצע על ידי ביי מי וזאת באמצעות כרטיס האשראי של רוכש השובר.
        </p>

        <h2>4. אופן מימוש השוברים</h2>
        <p>
            א. שוברים ימומשו בבתי העסק לגביהם נרכש השובר בהתאם לפרטים שיופיעו בעמוד המכירה באתר של השובר הרלוונטי.<br>
            ב. שוברים ימומשו בין האמצעות שובר פיזי הנושא קוד שובר בעל 16 ספרות או באמצעות קוד שובר דיגיטלי שיימסר בבית העסק הרלוונטי או במערכת רכישה מקוונת.<br>
            ג. שובר מתנה ימומש פעם אחת בלבד בבית העסק הרלוונטי.<br>
            ד. ושובר כסף יהיה ניתן למימוש מספר פעמים עד לגובה הסכום הטעון בו כדין.
        </p>

        <h2>5. אספקת מוצרים או שירותים</h2>
        <p>אספקת המוצרים/השירותים שנרכשו באמצעות שוברים (והאחריות בגינם) תבוצע על ידי בתי העסק ובאחריותם הבלעדית בהתאם לתנאים המופיעים בתקנון ובעמוד המכירה של השובר לגבי המוצר/שירות באתר.</p>

        <h2>6. רשימת ספקים/בתי עסק</h2>
        <p>רשימת בתי העסק והספקים בהם ניתן לממש שובר תהיה כפי שיופיע בעמוד המכירה הרלוונטי של השובר לגבי המוצר/שירות באתר.</p>

        <h2>7. תוקף השוברים</h2>
        <p>
            א. תוקף שוברים שיירכשו באתר יהיה בהתאם לדין ובכל מקרה לא פחות מ-24 חודשים, כאשר תוקף השובר יצוין בתנאי השובר הרלוונטי.<br>
            ב. תוקפם של שוברים לרכישת מוצר או שירות מסוימים, יכול ויהיה קצר מ-24 חודשים, בהתאם לתנאים המופיעים על גבי השובר.
        </p>

        <h2>8. הוראות לעניין אובדן אמצעי תשלום</h2>
        <p>במקרה בו יאבד שובר, ביי מי תפעל לשחזר את היתרה הצבורה בשובר שאבד או שנגנב לבקשת מי שנחזה בעיניה כמי שהחזיק כדין בשובר, למעט במקרים שבהם אין ביכולתה, במאמצים סבירים, לזהות את השובר של אותו מבקש לצורך שחזור היתרה כאמור, ובלבד שקיימת יתרה צבורה בשובר במועד שבו פנה המבקש כאמור.</p>

        <h2>9. ביטול</h2>
        <p>
            א. ביטול רכישת שובר מהאתר יהיה בהתאם להוראות חוק הגנת הצרכן התשמ'א-1981 העוסקות במכר מרחוק.<br>
            ב. בכפוף לכך שלא נעשה שימוש בשובר ובכפוף לייתר התנאים המפורטים בתקנון, בתוך 14 יום מיום קבלת הודעת הביטול יושב למבטל השובר הסכום ששולם על ידו בגין השובר בניכוי דמי ביטול בשיעור של 5% מסכום העסקה או 100 ש'ח, לפי הנמוך מביניהם.<br>
            ג. לצורך ביטול, יש לפנות בכתב ובאמצעות פניה לשירות הלקוחות של האתר או באמצעות הדואר או באמצעות פקס או באמצעות תקשורת אלקטרונית (כדוגמת דואר אלקטרוני), יכלול את פרטי הרוכש כולל מספר תעודת זהות ואת פרטי השובר.
        </p>

        <h2>10. פרטיות</h2>
        <p>השימוש באתר ובשירותיו יהיה בהתאם למדיניות הפרטיות של ביי מי בלינק שלהלן – https://Gifty.co.il/page/privacy.</p>

        <h2>תקנון אתר Gifty.CO.IL</h2>

        <h2>1. התנאים המפורטים להלן מהווים תנאי שימוש מחייבים לשימוש באתר הבית של “Gifty.co.il” ובשירותים המסופקים באתר.</h2>
        <p>הגלישה באתר והגישה אל המוצרים והשירותים, הינה בכפוף לתנאים המפורטים בתקנון זה, וכן בכפוף למדיניות הפרטיות הניתנת לצפייה באתר. ביי מי פטורה מרישיון לפי חוק הסדרת העיסוק בשירותי תשלום וייזום תשלום, התשפ"ג 2023 ולכן אינה מפוקחת על ידי רשות ניירות ערך לעניין שירותי התשלום הניתנים על ידה.</p>

        <h2>2. הוראות תקנון זה יחולו על כל שימוש שייעשה על ידך באתר כהגדרתו להלן ועל כל רכישה שתתבצע על ידך באמצעות האתר, ויהוו את הבסיס המשפטי לכל דיון בינך לבין מנהל האתר כהגדרתו להלן.</h2>
        <p>עקב כך, הנך מתבקש לקרוא תקנון זה במלואו ובעיון.</p>

        <h2>3. בכל מקום בתקנון זה בו משתמשים בלשון זכר, הכוונה גם לנקבה במשתמע.</h2>

        <h2>4. כותרות הפרקים מובאות לשם נוחות והתמצאות המשתמש ולא ישמשו בפרשנות התקנון.</h2>

        <h2>5. הגדרות</h2>
        <p>
            5.1. "שובר מתנה": שובר המעניק לרוכש זכות לקבל תמורתו מוצר או שירות, למעט ערך כספי, ובכפוף להוראות תקנון זה;<br>
            5.2. "שובר כסף": שובר המעניק לרוכש זכות לקבל תמורתו את הערך הכספי שהוטען בו, ובכפוף להוראות תקנון זה;<br>
            5.3. "שובר": לעניין מסמך זה - שובר מתנה או שובר כסף;
        </p>

        <h2>6. כללי</h2>
        <p>
            6.1. אתר הבית של "Gifty.co.il" מופעל על ידי חברת ביי מי טכנולוגיות בע"מ ח.פ. 514480276 (להלן: "מנהל האתר") ונמצא במתחם (domain) שזיהויו ברשת האינטרנט (www) הינו www.Gifty.co.il (להלן: "האתר").<br>
            6.2. האתר נועד לאפשר ללקוחות לקבל מידע, לסקור, לבחון ולרכוש שוברים של ספקים שונים המשתנים מעת לעת, בצורה קלה ונוחה.<br>
            6.3. האתר מופעל על ידי מנהל האתר.<br>
            6.4. משתמש זכאי לעשות שימוש באתר בהתקיים כל התנאים הבאים יחד:
                <p>
                    6.4.1. המשתמש הנו כשיר לבצע פעולות משפטיות מחייבות;<br>
                    6.4.2. למשתמש מלאו 18 שנים;<br>
                    6.4.3. המשתמש הנו בעל תעודת זהות ישראלית תקפה;<br>
                    6.4.4. המשתמש הנו בעל כרטיס אשראי ישראלי תקף, שהונפק בישראל ע"י אחת מחברות האשראי או המכובד בישראל ע"י אחת מחברות כרטיסי האשראי;<br>
                    6.4.5. המשתמש הוא בעל תא דואר אלקטרוני ברשת האינטרנט.<br>
                    6.4.6. המשתמש הסכים לתנאי תקנון זה ולמדיניות הפרטיות של מנהל האתר.
                </p>
            6.5. מנהל האתר שומר לעצמו את הזכות לעדכן תקנון זה, מעת לעת, לפי שיקול דעתו הבלעדי וללא צורך במסירת הודעה כלשהי מראש, ללא צורך בהודעה מוקדמת או קבלת הסכמת המשתמש באתר, באחריות המשתמש לקרוא את התנאים בכל כניסה לאתר ולמשתמש באתר לא תהיה טענה בעניין. על אף האמור, מנהל האתר יפעל ככל האפשר לעדכן את משתמשיו, באמצעות פרסום באתר, על שינויים שיחולו בתנאי שימוש אלה.<br>
            6.6. מנהל האתר רשאי לסגור את האתר לעדכונים ושדרוגים, ולשנות, מעת לעת, את מבנהו, מראהו וזמינותם של המוצרים, השירותים והתכנים הניתנים בו, ולהפסיק הפצתו של כל מידע, שיטת העברת מידע, מהירויות העברת המידע או כל מאפיין אותות ו/או מאפיין שידור אחרים וזאת ללא צורך בהודעה מראש למשתמש.<br>
            6.7. כל שינוי בתנאי השימוש יחול מרגע פרסומו על כל משתמשי האתר, וכל שימוש באתר על ידי משתמש לאחר ביצוע השינויים האמורים ייחשב הסכמה וקבלה של השינויים האמורים על ידי המשתמש.<br>
            6.8. לקוח הנרשם כמשתמש מאשר ברישומו את תנאי התקנון ויהי זכאי ליהנות משירותי האתר המלאים. אם אינך מסכים לתנאי השימוש, כולם או חלקם, אינך רשאי לעשות שימוש באתר לכל מטרה שהיא.<br>
            6.9. השימוש בחלקים מסוימים של האתר מותנה בתשלום והזנת פרטים שונים בהתאם למפורט בתנאי השימוש להלן.
        </p>

        <h2>7. תנאי השימוש באתר והפסקת השימוש באתר</h2>
        <p>
            7.1. זכות השימוש באתר הינה אישית למשתמש ולא ניתנת להעברה לכל צד ג.<br>
            7.2. המוצרים והשירותים המוצעים באתר מיועדים לשימוש הפרטי והאישי של הלקוחות ולא למטרות מסחריות ו/או סיטונאות ואינם ניתנים למכירה לכל צד שלישי שהוא ואינם ניתנים למכירה לכל צד שלישי שהוא בהנחה. מנהל האתר רשאי למנוע מלקוח כלשהו את השתתפות והשימוש באתר, באופן זמני או לצמיתות, על פי שיקול דעתו הסביר, בכפוף לכל דין, לרבות אם יהא סבור כי הלקוח עלול לסחור בהם, וזאת ללא צורך לנמק החלטתו או להודיע ללקוח על כך מראש. מנהל האתר אף שומר לעצמו את הזכות, על פי שיקול דעתו הסביר ובכפוף לכל דין, לבטל את רכישתו של הלקוח בנסיבות אלו.<br>
            7.3. מנהל האתר אינו מגביל העברת שובר לצד ג' על בסיס שאינו מסחרי על ידי משתמש הקצה, כאשר במקרה שכזה ימשיכו לחול כל תנאי השימוש ותנאי השובר, לרבות, אך לא רק, הגבלות האחריות של האתר, גם כלפי מקבל השובר בהעברה. כל האחריות וההשלכות בכל הקשור ו/או הנובע מהעברת שובר לצד ג, לרבות, אך לא רק, במידה וחלות על כך הגבלות ו/או הוראות על פי כל דין, הינן על משתמש הקצה בלבד.<br>
            7.4. מבלי לגרוע מהאמור לעיל, מנהל האתר יהא רשאי להפסיק בכל עת, מכל סיבה שהיא ואף ללא סיבה, על פי שיקול דעתו הבלעדי, את הפעילות באתר ו/או לבטל מכירה, ללא צורך במתן התראה מוקדמת, לרבות בכל אחד מהמקרים הבאים:
                <p>
                    7.4.1. אם לדעת מנהל האתר הלקוח מסר במתכוון פרטים שגויים.<br>
                    7.4.2. בנסיבות בהן הלקוח עשה או עושה שימוש האסור לפי תקנון זה ו/או שימוש העלול לגרום להפרעה לשירותים ו/או ללקוחות אחרים ו/או באופן המהווה עוולה אזרחית ו/או עבירה פלילית ו/או באופן המעורר חשד סביר ו/או הלקוח פועל באופן הנוגד ו/או המפר את התנאים הקבועים בתנאי השימוש ו/או בתקנון;<br>
                    7.4.3. אם לדעת מנהל האתר הלקוח ביצע מעשה או מחדל הפוגעים או העלולים לפגוע במנהל האתר או בצדדים שלישיים כלשהם;<br>
                    7.4.4. אם לדעת מנהל האתר הלקוח עשה שימוש בשירותי האתר לביצוע מעשה בלתי חוקי או כדי לאפשר, להקל, לסייע או לעודד ביצועו של מעשה כזה;<br>
                    7.4.5. אם הלקוח הפר איזו מהוראות תקנון זה;<br>
                    7.4.6. אם כרטיס האשראי שברשות הלקוח נחסם או הוגבל לשימוש בדרך כלשהי.
                </p>
            7.5. אין בחסימה, בהפסקה או בהגבלת השירותים, כאמור לעיל, כדי לגרוע מחובתו של הלקוח לנהוג בכל עת בהתאם לתנאי שימוש אלה. כל שימוש של הלקוח באתר, לרבות בשירותים ובתכנים שבאתר, בניגוד להוראות מנהל האתר ו/או בניגוד לתנאי שימוש אלה ו/או בניגוד להוראות כל דין, יזכה את מנהל האתר ו/או צדדים שלישיים בעלי זכויות בשירותים ובתכנים לפי העניין, בנקיטת אחד או יותר מן הסעדים הקבועים בתקנון זה כלפי הלקוח, וזאת מבלי לגרוע מכל סעד אחר העומד לזכות מנהל האתר ו/או צדדים שלישים בעלי זכויות בשירותים ובתכנים על פי כל דין.
        </p>

        <h2>8. אופן רכישת שובר</h2>
        <p>
            8.1. כדי לרכוש את שובר באתר, יש לבחור תחילה שם משתמש וסיסמה אישית, אשר ילוו אותך בכל הרכישות ו/או השימוש באתר. בעת ביצוע רכישה באתר יידרשו הלקוחות למסור את אחד או יותר מהפרטים המזהים אודות עצמם (כתובת דואר אלקטרוני, סיסמא, שם פרטי, שם משפחה, כתובת, יישוב, טלפון, תעודת זהות ופרטי כרטיס אשראי) (להלן: "הפרטים האישיים") (להלן: "ביצוע הפעולה"). אם הזמנה תבוצע ללא הפרטים המלאים שלך, מנהל האתר יהיה רשאי לבטל את ההזמנה. על פי חוק אינך חייב למסור את הפרטים בטופס הרישום ומסירתם תלויה ברצונך בלבד. עם זאת, אם לא מסרת את כל הפרטים המבוקשים לא תוכל להשתתף ברכישת השובר.<br>
            8.2. לצורך ביצוע הפעולה יש להיות משתמש רשום באתר, לצורך כך יש להקליד כתובת דואר אלקטרוני, סיסמא ואישורה ואישור על קריאת התקנון והסכמה לו.<br>
            8.3. המחירים המוצגים בכל שיטות המכירה כוללים מע"מ, ככל שהדבר מחויב על-פי הדין, אלא אם צוין אחרת במפורש.<br>
            8.4. קניה שאושרה מהווה קניה המחייבת בתשלום מלוא הסכום שהוצע בגינה על ידי המציע.<br>
            8.5. חיוב הלקוח יתבצע על ידי מנהל האתר וזאת באמצעות כרטיס האשראי שאת פרטיו מסר.<br>
            8.6. בעת ביצוע רכישה באתר, הפרטים האישיים של הלקוח יועברו למערכת עיבוד הנתונים של מנהל האתר (להלן: "המערכת") באמצעות ערוץ מוצפן תקני (SSL). רישומי המערכת יהוו ראיה לכאורה לאמור בהם.<br>
            8.7. מיד לאחר ביצוע הפעולה יבצע מנהל האתר בדיקה של פרטי כרטיס האשראי ועם אישור הפעולה ע"י חברות כרטיסי האשראי, תינתן הודעה מתאימה כי הפעולה אושרה או נדחתה.<br>
            8.8. יובהר ויודגש, כי רק אישור בדבר ביצוע הפעולה שהתקבל מחברת האשראי על חיוב כרטיס האשראי ובנוסף אישור שהתקבל בדואר האלקטרוני של הלקוח הכולל את פרטי הפעולה הרלבנטיים, לרבות מספר הפעולה, פרטי הלקוח ופרטי הפעולה, יהווה אישור על קליטת הפעולה אצל מנהל האתר. הרישום שנרשם במחשבי מנהל האתר יהווה ראיה לכאורה לנכונות הפעולות.<br>
            8.9. במקרה בו לא אושרה העסקה ע"י חברות האשראי יקבל מבצע הפעולה הודעה מתאימה. לצורך השלמת הרכישה יידרש מבצע הפעולה ליצור קשר טלפוני עם מוקד שירות הלקוחות של מנהל האתר לצורך הסדרת אישור חברות האשראי לביצוע העסקה. יובהר ויודגש, פעולה תיחשב כמושלמת רק לאחר הסדרת אישור חברות האשראי לביצוע העסקה ע"י מבצע הפעולה. לא פעל מבצע הפעולה להסדרת האישור בתוך 7 ימים ממועד קבלת ההודעה על סירוב חברות האשראי למתן אישור לביצוע העסקה, יהיה מנהל האתר זכאי לבטל את בקשת הרכישה.<br>
            8.10. אם חברת האשראי תסרב לכבד את התחייבויותיך תבוטל הזמנת השובר על ידך ולביי- מי תהיה במקרה כזה הזכות לחייב אותך בדמי ביטול של 5% ממחיר השובר או חלק השובר שהזמנת או בסך של 100 ₪, לפי הנמוך מבין השניים הכל כפי שיפורט בסעיף 17 להלן.<br>
            8.11. את השובר תוכל להדפיס או לשלוח באמצעות המייל או באמצעות הודעת טקסט, ויתכנו אמצעי הנפקת שובר נוספים לבחירה, הכל כפוף לשיקולי מנהל האתר. ביצוע הוראות סעיף זה מהוות קבלת השובר ממנהל האתר ופעולה זו אינה ניתנת לביטול.<br>
            8.12. מנהל האתר יהיה רשאי לעדכן את כמות המינימום של השוברים או את כמות המקסימום של השוברים הניתנים לרכישה.<br>
            8.13. הנך מאשר בזאת קבלת הקבלה באמצעות הדואר האלקטרוני אשר מסרת בעת רכישת השוברים.
        </p>

        <h2>9. ביטול רכישת שובר ו/או עסקה ו/או הזמנה</h2>
        <p>
            9.1. מנהל האתר ו/או מי מטעמו שומר לעצמו את הזכות שלא לקבל או לבטל כל בקשה לרכישת מוצרים ו/או שירותים גם לאחר אישור חברת האשראי, בכל אחד מן המקרים הבאים:
                <p>
                    9.1.1. בהתאם לשיקול דעתו הסביר של מנהל האתר מתעורר חשד כי התשלום עבור רכישת השובר לא יבוצע כלל או שלא יבוצע במלואו ובמועדו.<br>
                    9.1.2. נפלה טעות במסירת פרטי הזיהוי ו/או מידע הנדרש לביצוע רכישה באתר.<br>
                    9.1.3. אם יתברר כי נפלה טעות סופר או טעות טכנית חריגה בהצגת פרטי שובר ו/או השירות נשוא שובר המוצעים לרכישה, המחיר ו/או פרטים אחרים.<br>
                    9.1.4. במקרים בהם קרתה תקלת תקשורת ו/או בעיה טכנית אחרת שפגמה בהליך רכישה תקין בדרך הרכישה.<br>
                    9.1.5. אם יתברר כי חלה במהלך המכירה פעילות שאינה חוקית מצד גורם כלשהוא.<br>
                    9.1.6. במקרים של כוח עליון המונעים את המשך המכירה ו/או ניהולה באופן תקין.<br>
                    9.1.7. מנהל האתר יפרסם הודעה על ביטול המכירה, בהתאם לשיקול דעתו, בדף הרכישה בטרם סגירת המכירה ו/או ישלח הודעה על ביטולה לרוכשי השוברים במסגרת המכירה בדוא"ל שמסרו בעת רכישת השוברים במקרים המתאימים.<br>
                    9.1.8. במידה ונשלחו שוברים לרוכשיהם ביחס למכירה שבוטלה, תימסר על-כך הודעה לספק שבאחריותו לספק המוצרים ו/או השירותים נשוא השוברים ותוקפם של השוברים יבוטל. במקרה זה כלל רכישות השוברים במסגרת המכירה יבוטלו ורוכשי השוברים יזוכו בעלות הרכישה.<br>
                    9.1.9. במקרה של ביטול הבקשה לרכישת המוצרים ו/או השירותים כמפורט בסעיף זה, תבוטל השתתפות רוכשי השוברים ובהתאם יושב להם כספם. כמו כן, למנהל האתר שמורה הזכות למנוע מרוכשי השוברים השתתפות חוזרת בשירות מנהל האתר מבלי לגרוע מכל זכות ו/או סעד העומדים לרשותם ע"פ כל דין, ולא תהא לרוכשי השוברים כל טענה ו/או דרישה ו/או תביעה כלפי מנהל האתר ו/או מי מטעמה ככל שפעלו בהתאם לסעיפים ‎9.1.7 ו-‎9.1.8.
                </p>
            9.2. מנהל האתר רשאי לבטל את ההזמנה, בין השאר, אם אותו לקוח הגיש פרטים כוזבים או חלקיים ו/או באם יתברר לו שחלה טעות אנוש או טעות טכנית בהצגת פרטי המוצר, מחירו, תנאי התשלום וכדומה. במקרה שכזה תישלח לנרשמים הודעה מתאימה לכתובת הדואר האלקטרוני (כתובת הדואר האלקטרוני שמסר המשתמש בעת רישומו לאתר). מנהל האתר לא ישא באחריות לקבלת הודעת הביטול בכתובת הדואר האלקטרוני של המשתמש, במקרה שכתובת הדואר האלקטרוני שמסר המשתמש בעת רישומו האלקטרוני שגויה או במקרה של תקלה טכנית או בעיה אחרת.
        </p>

        <h2>10. אספקת המוצרים</h2>
        <p>אספקת המוצרים/השירותים תתבצע בהתאם לתנאים המופיעים בתנאי שימוש אלו ובעמוד המכירה של השובר לגבי המוצר/שירות באתר. אספקת המוצרים/השירותים תבוצע על ידי בתי העסק ובאחריותם הבלעדית בהתאם לתנאים המופיעים בתנאי שימוש אלו ובעמוד המכירה של השובר לגבי המוצר/שירות באתר.</p>

        <h2>11. עלות השירות</h2>
        <p>
            11.1. השימוש בשירות ו/או גלישה באתר הינו ללא עלות.<br>
            11.2. כל לקוח יישא בעלות בה בחר עבור שוויו של השובר. שווי השובר כולל מע"מ כדין.<br>
            11.3. בכל מקרה ובכל זמן מנהל האתר רשאי לשנות זאת ולגבות עמלת שירות מהלקוח. מובהר, כי אם וככל שיוחלט על גביית עמלה כאמור, יעודכן הדבר באתר.
        </p>

        <h2>12. מימוש השובר</h2>
        <p>
            12.1. לא ניתן לממש שובר מתנה יותר מפעם אחת. על אף האמור, שובר כסף ניתן לממש יותר מפעם אחת, וזאת עד לגובה הסכום הטעון בו כדין.<br>
            12.2. ניתן להעביר את ביצוע רכישת השובר בבית העסק המסויים שבו בחר הלקוח לביצוע רכישת השובר, לבית עסק אחר בשווי זהה, באישור מנהל האתר ולפי שיקול דעתו הבלעדי. לא ניתן להעביר שובר שפג תוקפו. לשם ביצוע ההעברה כאמור יש ליצור קשר טלפוני עם מוקד שירות הלקוחות של מנהל האתר. מימוש שובר יהיה כפוף להוראות כל דין.<br>
            12.3. לא ניתן לעשות שימוש בשובר על מנת לשלם חוב קודם לבית העסק או לשלם תשר (טיפ), אלא אם צוין אחרת במפורש או אם הדבר אושר על ידי בית העסק, על פי שיקול דעתו הבלעדי.<br>
            12.4. השובר ניתן למימוש באמצעות הודעת טקסט, מייל, סמארט-פון או כשובר מודפס, המופק באמצעות הפלטפורמה המופעלת על ידי מנהל האתר;<br>
            12.5. מנהל האתר ובית העסק לא יהיה אחראים לגניבה, שיכפול או להדפסה ביתר של השוברים או של מספרם הסידורי.<br>
            12.6. לכל שובר תיקבע תקופת מימוש מקסימאלית במסגרתה תוכל לממשו. באחריותך המלאה והבלעדית לממש השובר לכל המאוחר עד לתום תקופה זו. לאחר תקופה זו אין לשובר כל תוקף ותאבד את זכאותך לצרוך המוצר או השירות כמפורט בו או לקבל החזר כספי כלשהוא או תמורה בין כספית ובין אחרת ומבלי שתהא זכאי לכל תשלום ו/או פיצוי בשל כך.<br>
            12.7. לא ניתן יהיה לשלם באמצעות השובר עלויות טיפול ומשלוח.<br>
            12.8. השובר אינו מהווה הזמנת מקום בבית העסק (למשל, הזמנת שולחן במסעדה), כאשר הדבר נדרש.
        </p>

        <h2>13. אחריות</h2>
        <p>
            13.1. מנהל האתר לא יהיה אחראי למידע לא נכון ו/או מדויק אשר הוקלד על ידי רוכש השובר, לרבות כתובת מייל שגויה ו/או מספר נייד שגוי ו/או כל פרט לא נכון/עדכני/מטעה וכו'. מנהל האתר תשלח את השובר בהתאם לפרטים אשר הלקוח מסר AS-IS.<br>
            13.2. מנהל האתר לא יהיה אחראי להגעת השובר למקבל/ת השובר, לרבות במקרים של סינון ע"י ספאם או לקוח שאינו מנוי לקבלת שירותי תוכן בהודעות טקסט, או שתיבת הדוא"ל של הנמען מלאה וכיו"ב.<br>
            13.3. מנהל האתר מאפשר לך לרכוש באמצעות האתר שוברים למוצרים ושירותים שונים של מיטב היצרנים, היבואנים והקמעונאים הפועלים בישראל בדרך נוחה ומהירה. עם זאת, מנהל האתר אינו היצרן או היבואן או הקמעונאי של המוצר שרכשת באמצעות השובר שבדעתך לרכוש באתר. לפיכך, ומבלי לגרוע באמור בתקנון זה, מנהל האתר ו/או מי מטעמו אינם אחראים על השירות והאחריות למוצרים ו/או השירותים שנרכשו באמצעות השוברים שנרכשו באתר לאחר מכירתם, לרבות לאחריות בגינם, תיקונם ו/או לאספקת חלקי חילוף, ולמעט כקבוע על פי דין. האחריות בגין האמור, ככל שישנה על פי דין, חלה באופן בלעדי על הספקים או הקמעונאים.<br>
            13.4. מנהל האתר אינו אחראי לתוכן השוברים, לתנאיהם, למימושם או לכיבודם על ידי הקמעונאי. מערכת מנהל האתר מהווה פלטפורמה בה מציעים הקמעונאים השונים לגולשים לרכוש שוברים אצלם.<br>
            13.5. האתר אינו מספק מוצרים או שירותים כלשהם ואינו אחראי על מכירת מוצרים או שירותים כלשהם אלא על הנפקת שוברי קנייה של קמעונאים שונים.<br>
            13.6. המוצרים ו/או שוברים ו/או שירותים או כל הצעה קמעונאית אחרת המוצעת באתר אינם מסופקים על ידי מנהל האתר אלא חובת אספקתם מוטלת על החברות הקמעונאיות השונות המציעות ועליהן בלבד.<br>
            13.7. תיאור ו/או מידע על חנויות ועל מוצרים המופיע באתר הינו באחריות החברות המתארות ו/או המוסרות מידע זה ולא תחול כל אחריות בהקשר זה על מנהל האתר.<br>
            13.8. תנאי מימוש השובר הינו באחריות החברות הקמעונאיות המפרסמות באתר, ולמנהל האתר לא תהיה כל אחריות בנוגע לאופן מימוש השובר על ידי החברה הקמעונאית המפרסמת את אפשרות רכישת השובר באתר.<br>
            13.9. הקמעונאים ו/או החברות המופיעים באתר, התחייבו כלפי מנהל האתר והצהירו בפניו על אמיתות נתוני המידע המופיעים באתר, אך מנהל האתר אינו ערב לאמינות המידע ומידת דיוקו.<br>
            13.10. בית העסק הינו האחראי הבלעדי לשירותים, למוצרים ולמערכות, ומנהל האתר לא יישא באחריות לנזקים מכל סוג שהוא, שיגרמו למשתמש ו/או לכל צד שלישי, הקשורים במישרין ו/או בעקיפין עם השירותים ו/או אופן הענקתם ו/או עם התכנים שיינתנו במסגרתם ו/או מערכות מנהל האתר ו/או פעולתן, באופן ישיר ו/או עקיף.<br>
            13.11. מנהל האתר אינו אחראי להגעת השובר למקבל/ת השובר, לרבות במקרים של סינון ע"י ספאם או לקוח שאינו מנוי לקבלת שירותי תוכן בהודעות טקסט.<br>
            13.12. מנהל האתר לא יהיה אחראי לכל נזק ישיר או עקיף, כספי או אחר, שיגרם לך כתוצאה משימוש ו/או הסתמכות על המידע שמופיע באתרים ו/או בחנויות הקמעונאים שאליהם תגיע באמצעות איזה מהשירותים באתר. מנהל האתר לא יישא באחריות גם למידע ותכנים שיתפרסמו באתר עצמו על ידי צדדים שלישיים או לכל תוצאה שתנבע מהסתמכות עליהם או שימוש בהם.<br>
            13.13. מנהל האתר לא יהיה אחראי לכל הנזקים לציוד ו/או לתוכנה ו/או למידע שיגרמו לך כתוצאה משימוש באתר. המשתמש יהיה אחראי לקבלת ולאחזקת טלפון, קו תקשורת, מחשב, חומרה וכל ציוד אחר הנדרש ככל שנדרש, על מנת לקבל גישה ולעשות שימוש באתר ולכל העלויות הכרוכות בכך.<br>
            13.14. במקרה בו יאבד שובר למשתמש, מנהל האתר יפעל לשחזר את היתרה הצבורה בשובר שאבד או שנגנב לבקשת מי שנחזה בעיניו כמי שהחזיק כדין בשובר, למעט במקרים שבהם אין ביכולתו, במאמצים סבירים, לזהות את השובר של אותו מבקש לצורך שחזור היתרה כאמור, ובלבד שקיימת יתרה צבורה בשובר במועד שבו פנה המבקש כאמור.
        </p>

        <h2>14. מוצרים פיזיים שאינם שובר</h2>
        <p>
            14.1. הצעות ספקי מוצרים פיזיים
                <p>
                    14.1.1. האתר כולל מגוון הצעות רכישה של מוצרים פיזיים שונים, שאינם שוברים (להלן: "הצעות מוצרים פיזיים"). מנהל האתר יהיה רשאי לקבוע את פרקי הזמן שבהם תוצג כל הצעת מוצרים פיזיים ו/או להוסיף ו/או לגרוע ממגוון הצעות המוצרים הפיזיים שתוצגנה באתר, הכל על פי שיקול דעתו הבלעדי.<br>
                    כל ספק הצעות יהיה רשאי לקבוע, על פי שיקול דעתו הבלעדי, את כמות היחידות המוצעות במסגרת הצעת המוצרים הפיזיים שהוצעה על ידו וכן לקבוע את אופן הרכישה ו/או את אופן ההתקשרות ו/או את מחיר הרכישה ו/או ההתקשרות.<br>
                    מובהר כי ייתכן ולא כל הצעות המוצרים הפיזיים תוצגנה לכל המשתמשים.<br>
                    14.1.2. ביחס לכל אחת מן הצעות מוצרים פיזיים, יצוינו, ככל שניתן, השם של ספק המוצר ו/או השירות, תיאור המוצר ו/או השירות, פרטי אחריות ואספקה, מחיר מכירה, תנאי תשלום ופרטים רלבנטיים נוספים. מובהר כי כל הפרטים כאמור יוצגו באתר כפי שהתקבלו על ידי מנהל האתר מספק ההצעות, בלא כל אחריות של מנהל האתר לגבי נכונות המידע כאמור. ככל שהמשתמש יבקש לקבל מידע נוסף על המוצרים ו/או השירותים המוצגים במסגרת ההצעות באפליקציה, יהיה עליו לפנות לספק ההצעות הרלוונטי.<br>
                    14.1.3. מובהר כי כל המוצרים והשירותים במסגרת הצעות מוצרים פיזיים מוצעים על ידי ספקי ההצעות, וכל פרסום ו/או הצעה באתר מוצגים כפי שנמסרו לחברה על ידי ספקי ההצעות. בהתאם, מובהר כי האחריות הבלעדית לנכונות ו/או לאופן הצגת הצעות המוצרים הפיזיים באתר ו/או לאספקת המוצרים ו/או השירותים ו/או לטיבם ו/או להתאמתם לצרכי המשתמש וכל דבר הקשור לאלו, תחול על ספקי ההצעות בלבד ולמשתמש לא תהיה כל טענה כלפי מנהל האתר חברה בקשר לאמור לעיל.<br>
                    14.1.4. מובהר כי אין בהצגה ו/או בהצעה של מוצר ו/או שירות כלשהו באתר משום הבעת דעה לגביהם, אופיים או טיבם ע"י החברה ו/או מי מטעמה.
                </p>
            14.2. אספקת הצעות המוצרים הפיזיים
                <p>
                    14.2.1. האחריות לאספקת המוצרים ו/או השירותים הנרכשים מספקי הצעות המוצרים הפיזיים בעקבות הצעות המוצגות באתר, מוטלת על ספקי הצעות המוצרים הפיזיים בלבד.<br>
                    14.2.2. אספקת מוצרים ו/או שירותים כאמור תעשה על פי בהתאם למדיניות המשלוחים ו/או ההובלה ו/או האיסוף של כל ספק הצעות מוצרים פיזיים.<br>
                    14.2.3. בעת אספקת המוצר רשאי ספק הצעות המוצרים הפיזיים לדרוש את נוכחותו של בעל כרטיס האשראי שבאמצעותו שולמה העסקה ו/או הצגת תעודת זהות של בעל כרטיס האשראי ו/או חתימתו של בעל כרטיס האשראי, כתנאי למסירת המוצר ואולם אין כל חובה בנוכחות בבית לצורך קבלת המוצר ו/או השירות, למעט אם הדבר נכתב במפורש בעמוד המוצר, טרם רכישתו.
                </p>
            14.3. אחריות בגין המוצרים הפיזיים
                <p>
                    14.3.1. מנהל האתר איננו היצרן ו/או היבואן ו/או הספק של המוצרים ו/או השירותים המוצגים בהצעות המוצרים הפיזיים. בהתאם, ומבלי לגרוע מכל הוראה אחרת בתנאי שימוש אלה, מנהל האתר אינו אחראי למתן שירות ו/או אחריות למוצרים ו/או השירותים המוצגים באתר. האחריות בגין כל האמור, ככל שקיימת, תחול באופן בלעדי על ספקי הצעות המוצרים הפיזיים, וכל טענה ו/או דרישה של משתמש בקשר עם איזה מאלו, תופנה אך ורק לספק הצעות המוצרים הפיזיים הרלוונטי.<br>
                    14.3.2. מובהר כי מנהל האתר לא יהיה אחראי ולא יישא בכל נזק ישיר ו/או עקיף, תוצאתי או מיוחד שייגרם למשתמש בגין כל איחור, עיכוב או כשל באספקת מוצר או שירות- תהא עילת התביעה אשר תהא- לרבות הפסד הכנסה ו/או מניעת רווח שיגרמו מכל סיבה שהיא.<br>
                    14.3.3. נפלה טעות הקלדה חריגה וברורה על פניה בתיאור מוצר או שירות כלשהו ו/או במחיריהם כפי שמוצגים באתר, לא יחייב הדבר את ספק ההצעות המוצרים הפייזים ו/או את מנהל האתר.<br>
                    14.3.4. תמונות המוצרים באתר נועדו להמחשה בלבד וייתכנו הבדלים בין התמונות המוצגות, כולן או חלקן, לבין המוצרים הנמכרים בפועל.<br>
                    14.3.5. משתמש יהיה רשאי לבטל כל עסקה שביצע עם ספק הצעות בעקבות איזו מהצעות המוצרים הפיזיים, בהתאם למדיניות הביטולים של ספק הצעת המוצרים הפיזיים הרלוונטי.<br>
                    14.3.6. מבלי לגרוע מכלליות האמור לעיל, הודעת הביטול תימסר באופן שייקבע על ידי ספק ההצעות הרלוונטי.
                </p>
        </p>

        <h2>15. כללי</h2>
        <p>
            15.1. תוקף שוברים כספיים שיירכשו יהיה בהתאם לדין ובכל מקרה לא פחות מ-24 חודשים, כאשר תוקף השובר הכספי יצוין בתנאי השובר הרלוונטי.<br>
            15.2. בכפוף להוראות הדין, תוקפם של שוברי מתנה לרכישת מוצר או שירות מסוים (קופונים), יכול ויהיה קצר מ-24 חודשים, בהתאם לתנאים המופיעים על גביהם.<br>
            15.3. השובר יכובד בבתי העסק המפורטים על השובר ו/או באתר, במסגרת פעילותם בישראל בלבד.<br>
            15.4. לא יינתן החזר כספי או פיצוי בגין אי מימוש, אובדן או גניבה של השובר.<br>
            15.5. חובה על הלקוח שהזמין שובר הכרוך בפעילות או שירות, לבצע אישור הזמנה טלפוני מול מבצע הפעילות יום לפני התאריך המתוכנן על מנת לוודא מזג אויר ותנאים טכניים.<br>
            15.6. עדכונים ושינויים – בתי העסק באתר עלולים להשתנות מעת לעת. לפני רכישה ו/או בעת קבלת שובר, יש להתעדכן באתר.
        </p>

        <h2>16. דרכי פנייה למנהל האתר (שירות לקוחות)</h2>
        <p>
            16.1. בכל שאלה ו/או בעיה הקשורה באתר ובהפקת השוברים תוכל לפנות ישירות לשירות הלקוחות של מנהל האתר במספר: 03-3737117 פקס: 03-6060138 שעות פעילותו של המוקד: ימי חול בין השעות: 08:00 - 21:00 ובימי שישי 08:00-13:00. כמו-כן, תוכל לפנות אלינו באמצעות פנייה בדואר אלקטרוני info@Gifty.co.il. ימי ו/או שעות הפעילות עשויים להשתנות מעת לעת לפי שיקול דעת מנהל האתר.<br>
            16.2. בכל שאלה ו/או בעיה הקשורה בבית העסק, יש לפנות ישירות אליו.
        </p>

        <h2>17. מדיניות ביטולים והחזרה</h2>
        <p>
            17.1. הוראות סעיף זה מתייחסות לביטול רכישת השובר, לא לביטול רכישת מוצרים או שירותים תוך שימוש בשובר. לביטול רכישת מוצרים או שירותים, יש לפנות לבית העסק ועל ביטול שכזה יחולו תנאי בית העסק, החוק והדין לגבי מערכת היחסים שבינך לבין בית העסק. על מנהל האתר לא תחול כל אחריות בגין ביטול רכישת כל המוצר ו/או שירות שנרכשו מבית העסק תוך שימוש בשובר.<br>
            17.2. ביטול רכישת שובר מהאתר יהיה בהתאם להוראות חוק הגנת הצרכן התשמ'א-1981 ("חוק הגנת הצרכן") העוסקות במכר מרחוק.<br>
            17.3. לצורך ביטול, יש לפנות בכתב ובאמצעות פניה לשירות הלקוחות של האתר או באמצעות הדואר או באמצעות פקס או באמצעות תקשורת אלקטרונית (כדוגמת דואר אלקטרוני), יכלול את פרטי הרוכש כולל מספר תעודת זהות ואת פרטי השובר, כמפורט לעיל.<br>
            17.4. רק הלקוח המשלם את השובר יכול לבטל את רכישת השובר.<br>
            17.5. דמי ביטול – בכפוף לכך שלא נעשה שימוש בשובר ובכפוף לייתר התנאים המפורטים בתנאי שימוש אלו, בתוך 14 יום מיום קבלת הודעת הביטול יושב לך הסכום ששולם על ידך בגין השובר בניכוי דמי ביטול בשיעור של 5% מסכום העסקה או 100 ש'ח, לפי הנמוך מביניהם. לדוגמא: אם שווי השובר הינו 100 ₪, ישלם הלקוח דמי ביטול בסך של 5 ₪. אם שווי השובר הינו 1200 ₪, אזי ישלם הלקוח דמי ביטול של 60 ₪.<br>
            17.6. עם זאת, אין באמור כדי לפגוע מזכותו של מנהל האתר לתבוע את נזקיו כאמור בסעיף 14ה(ג) לחוק הגנת הצרכן.<br>
            17.7. כיבוד השובר שנרכש הינו באחריות בית העסק, ולא מנהל האתר. במקרה בו בית העסק לא יכבד שוברי מנהל האתר, יוכל הלקוח להחליף את השובר בשובר לבית עסק אחר ובסכום זהה. יש לעיין מעת לעת בעדכונים ושינויים באתר.<br>
            17.8. עם ביטול העסקה, יבוטל השובר ולא ניתן יהיה לממשו בבית העסק.
        </p>

        <h2>18. אבטחת מידע וסודיות</h2>
        <p>
            18.1. מנהל האתר יפעל, כמיטב יכולתו, לאבטחת הפרטים האישיים כהגדרתם לעיל, לשם שמירה על פרטיות הלקוח. עם זאת, מנהל האתר אינו יכול להבטיח כי מערכותיו חסינות בפני פריצות ו/או חדירות בלתי מורשות למערכותיו, ובמקרה כאמור לא תהיה ללקוח כל טענה בעניין.<br>
            18.2. מנהל האתר, מנהליו, עובדיו, כל הפועלים מטעמו וכל גורם אחר הקשור באספקת השירותים והתכנים לא יישאו באחריות כלשהי לכל נזק ו/או הפסד ו/או אובדן כלשהם, ישירים עקיפים או תוצאתיים, שיגרמו או העלולים להיגרם, במישרין או בעקיפין, ללקוח ו/או לצד ג' כתוצאה מפריצה ו/או חדירה בלתי מורשים למערכותיו של מנהל האתר.<br>
            18.3. כל הפרטים שמסר המשתמש למנהל האתר במועד הרישום לאתר ו/או הנובעים מפעילותו באתר ובכלל זה מידע שנאסף אודות הלקוח במהלך הגלישה, ישמרו במאגרי המידע של מנהל האתר.<br>
            18.4. השימושים במידע מנויים במדיניות הפרטיות של מנהל האתר https://Gifty.co.il/page/privacy, המהווה חלק בלתי נפרד מתקנון זה. מנהל האתר שומר לעצמו את הזכות לחשוף כל מידע אישי אודות הלקוח או אודות השימוש של הלקוח באתר, לרבות בשירותים ובתכנים שבאתר, ללא מתן הודעה מוקדמת ללקוח וללא קבלת הסכמה מהלקוח, בהתקיים אחד ו/או יותר מהמקרים הבאים:
                <p>
                    1) לצורך ציות לדרישות הדין ו/או על מנת למלא אחר צו של בית משפט/רשות מוסמכת;<br>
                    2) להגן על זכויותיו של מנהל האתר ו/או מי מטעמו ו/או צדדים שלישיים;<br>
                    3) לאכוף את תנאי שימוש אלו;<br>
                    4) לספק את השירות;<br>
                    5) לשפר ולהעשיר את השירותים והתכנים המוצעים באתר;<br>
                    6) לשנות ו/או לבטל שירותים ותכנים שקיימים באתר;<br>
                    7) להתאים את המודעות ו/או העסקאות שיוצגו למשתמש בעת הביקור באתר לתחומי ההתעניינות שלך;<br>
                    8) לצורך איסוף נתונים סטטיסטיים אודות השימוש באתר;<br>
                    9) לאימות פרטים ולצרכי אבטחת מידע. במידה ויחשוף מנהל האתר מידע אישי אודות הלקוח, יעשה מנהל האתר את כל המאמצים שביכולתו לשמירת פרטיותו של הלקוח ככל שניתן בנסיבות העניין.
                </p>
            18.5. מנהל האתר נוקט באמצעי זהירות מקובלים על מנת לשמור, ככל האפשר, על סודיות המידע. כל העברה של מספר כרטיס אשראי מהאתר נעשית באופן מוצפן לפי תקן. עם זאת, במקרים שאינם בשליטתו ו/או הנובעים מכוח עליון, מנהל האתר לא יהא אחראי לכל נזק מכל סוג שהוא, עקיף או ישיר, שייגרם ללקוח ו/או למי מטעמו אם מידע זה ייאבד או אם יעשה בו שימוש לא מורשה, למעט לנזק ישיר אם נזק כאמור נגרם בשל רשלנותו (ככל שתקבע בבית המשפט) של מנהל האתר.<br>
            18.6. מנהל האתר יהא רשאי להשתמש בפרטים שתמסור לצורך ניתוח מידע סטטיסטי ומסירתו לגורמים אחרים (כגון לצורכי בחינת מספר מבקרים באתר, פילוח הרגלי קניה, פילוח גנרי וכיו"ב) במטרה לשפר את פעילות האתר והשירותים המוצעים בו, אולם במקרה זה הנתונים יהיו אנונימיים ולא יתייחסו אליך אישית או יזהו אותך.<br>
            18.7. מנהל האתר יהא רשאי לעשות שימוש ב"עוגיות" (“cookies”)- קבצי טקסט קטנים אשר מאוחסנים על ידי השרת של מנהל האתר על הכונן הקשיח של המחשב בו אתה משתמש באמצעות הדפדפן שלך, על מנת לספק לך שירות מהיר ויעיל ולחסוך ממך את הצורך להזין את פרטיך האישיים בכל כניסה לאתר. עם זאת, יובהר כי ה"עוגיות" אינן מכילות כל מידע שמזהה אותך באופן אישי ואתה יכול לכוון את תוכנת הדפדפן שלך כך שלא ייקלטו במחשב "עוגיות" או שיימחקו.
        </p>

        <h2>19. דיוור ישיר ודברי פרסומת</h2>
        <p>
            19.1. הפרטים שתמסור בעת הרשמתך לאתר או פרטים שצד שלישי מסר אודותיך (למשל, מי שרכש עבורך את השובר) ישמשו אותנו למשלוח דיוורים ישירים (פרסומים מותאמים אישית) ודברי פרסומת אחרים, באמצעי מדיה שונים, כגון דואר אלקטרוני והודעת מסר קצר (SMS).<br>
            19.2. להפסקת קבלת עדכונים ודברי פרסומות (כהגדרתם בסעיף 30א לחוק התקשורת (בזק ושידורים), התשמ"ב-1982, בSMS ובדוא"ל או מחיקת מידע שהוביל לפרסום המותאם אישית בנסיבות מסויימות פנה לכתובת news@Gifty.co.il.<br>
            19.3. בכל מקרה, עדיין נוכל לשלוח לך הודעות שהדין אינו מונע מאיתנו לשלוח לך אותן, למרות סירובך.<br>
            19.4. בנוסף, הסרה מפרסום מותאם אישית אין משמעה הסרה מפרסום אחר. לכן, יתכן שגם לאחר בקשת הסרה מפרסום מותאם אישית תמשיך לקבל פרסומות שאינן מתאימות לך באופן אישי.
        </p>

        <h2>20. אחריות כללית בגין פעילות האתר</h2>
        <p>
            20.1. השירות באתר ניתן לשימוש כמות שהוא (AS IS). לא תהיה למשתמש או למבצע הפעולה כל טענה, תביעה או דרישה כלפי מנהל האתר בגין תכונות השירות, מאפייניו, מגבלותיו או התאמתו לצרכיו ולדרישותיו.<br>
            20.2. מנהל האתר עושה כל מאמץ לשמור על תקינות פעילותו של האתר. יחד עם זאת, מנהל האתר אינו מתחייב שהשירות באתר לא יופרע, יינתן כסדרו בלא הפסקות, קלקולים או תקלות - לרבות תקלות בחומרה, בתוכנה או בקווי התקשורת, והוא לא יהיה אחראי באופן כלשהו לתקלות ו/או שיבושים ברשת האינטרנט העולמית ו/או בקווי בזק ו/או בקווי התקשורת הבין - לאומיים המאפשרים את שירותי הגישה בחיוג לרשת האינטרנט.<br>
            20.3. מנהל האתר לא יהא אחראי לתכנים המפורסמים בקישורים הקיימים באתר והמובילים לאתרים אחרים אליהם ניתן להגיע דרך אותה קישורית.<br>
            20.4. לנוחיות לקוחותיו, מנהל האתר מאפשר לרכוש שוברים למוצרים ושירותים שונים, בין היתר, באמצעות פלטפורמת התשלומים "ביט", ובכפוף לתנאים ולמדיניות השימוש של "ביט". מובהר כי מנהל האתר אינו אחראי לטיב השירותים שניתנו על ידי ביט וללקוח לא תהיה כל טענה כלפי מנהל האתר בגין השימוש בפלטפורמה זאת.<br>
            20.5. מנהל האתר אינו מתחייב כי קישורית (link) כלשהי תוביל את מבצע הפעולה לאתר אינטרנט פעיל.
        </p>

        <h2>21. קניין רוחני</h2>
        <p>
            21.1. כל זכויות הקניין הרוחני, לרבות זכויות יוצרים, פטנטים, סימני מסחר, סודות מסחריים ומידע חסוי, בכל חומר שנ/יערך ו/או י/פותח על ידי מנהל האתר הם/יהיו קניינו הבלעדי והמלא של מנהל האתר.<br>
            21.2. מבלי לגרוע מהאמור לעיל, האתר, לרבות אייקונים (icons) כל מידע ו/או תצוגה המופיעים באתר ולרבות גרפיקה, עיצוב, הצגה מילולית, סימני מסחר, סימני לוגו (logo) וכן עריכתם והצגתם של אלה לרבות השירותים והתכנים שבאתר, כולל טקסט, איורים, גרפיקה, צליל, קטעי גרפיקה, יישומי תוכנה, גרפים ותמונות, הינם רכושו של מנהל האתר ו/או ניתנו לו ברישיון על ידי צדדים שלישים, ומוגנים ע"י חוקי זכויות יוצרים של מדינת ישראל, אמנות בינ"ל, וחוקי זכויות יוצרים של מדינות אחרות. כל הזכויות שמורות למנהל האתר ו/או לצדדים שלישיים בהתאמה.<br>
            21.3. הלקוח אינו רשאי לשנות, להעתיק, להעביר, לאחסן, להפיץ, לשדר, להציג, לבצע, לשכפל, לפרסם, להעניק רשיונות, ליצור עבודות נגזרות, לבצע הנדסה חוזרת, להעביר או למכור את השירותים ו/או התכנים, באופן חלקי או מלא, זמני או קבוע, בכל צורה שהיא ללא רשות מפורשת של מנהל האתר בכתב ומראש.<br>
            21.4. מבלי לגרוע מהאמור לעיל, הלקוח מתחייב בזאת להימנע מכל שימוש שעלול לפגוע במנהל האתר ו/או בצדדים שלישיים, וכן הוא מתחייב שלא לבצע שימוש מסחרי בשירותים ו/או בתכנים המסופקים לו במסגרת האתר.<br>
            21.5. אין בהצגת מוצרים ו/או שירותים המוצגים באתר זה משום הבעת דעה לגביהם אופיים או טיבם ע"י מנהל האתר.<br>
            21.6. רישומי המחשב של מנהל האתר בדבר הפעולות המתבצעות דרך האתר יהוו ראיה לכאורה לנכונות הפעולות.
        </p>

        <h2>22. הגבלת אחריות</h2>
        <p>
            22.1. אחריותם של עובדי מנהל האתר, מנהליו, נציגיו, בעלי מניותיו, וכל הפועלים מטעמו ו/או עבורו וכל גורם אחר הקשור באספקת השירותים הניתנים באתר, מוגבלת בזאת לאספקת השוברים ללקוח בלבד, וזאת בהתאם להוראות הדין ותנאי שימוש אלה.<br>
            22.2. הלקוח מסכים בזאת במפורש, כי בכל מקרה שבו תוטל אחריות ו/או חבות כלפי מנהל האתר, מנהליו, עובדיו, נציגיו, בעלי מניותיו, וכל הפועלים מטעמו ו/או עבורו וכל גורם אחר הקשור באספקת השירותים הניתנים באתר, הרי שתרופתו היחידה, המלאה והסופית של הלקוח, תוגבל לאספקה חוזרת, זהה או דומה, של השירותים הניתנים באתר ונשוא הטענה ו/או החזר כספי של עלותם בלבד, ולא מעבר לכך. ידוע ללקוח כי מנהל האתר הסכים להתקשר עימו על בסיס הגבלת אחריות זו וכי הוא מסתמך על כך.<br>
            22.3. מנהל האתר, מנהליו, עובדיו, נציגיו, בעלי מניותיו, וכל הפועלים מטעמו ו/או עבורו וכל גורם אחר הקשור באספקת השירותים הניתנים באתר אינם אחראים בשום אחריות ו/או חבות לפרטים לא נכונים ו/או לא מלאים ו/או לא עדכניים ו/או מטעים שימסור הלקוח, לכל שימוש שייעשה על ידי הלקוח באתר, לרבות בתכנים ובשירותים שבאתר, לתוצאות השימוש ו/או להסתמכות של הלקוח על האתר ו/או התכנים והשירותים שבאתר. אין לבצע שום עסקה או לקבל כל החלטה בהסתמך על השירותים והתכנים שבאתר, וכל העושה כן עושה זאת על דעתו ואחריותו בלבד.<br>
            22.4. מבלי לגרוע מהאמור לעיל, מנהל האתר, מנהליו, עובדיו, נציגיו, בעלי מניותיו, וכל הפועלים מטעמו ו/או עבורו וכל גורם אחר הקשור באספקת השירותים הניתנים באתר לא יהיו אחראים בשום אחריות ו/או חבות לכל נזק ו/או פגיעה ו/או הפסד ו/או הוצאה ו/או תשלום, מכל מין וסוג, שייגרמו עקב נסיבות מעבר לשליטתם, ובכלל זאת, כוח עליון, אש, מלחמה, פעולות חבלה, הפרעות קשות בסדר הציבורי, מחסור במקורות סבירים להספקה של ציוד חיוני למערכת, מעשה או מחדל של מפ"א או מפעיל סלולרי או מגבלות שהוטלו על ידם, חוקים, תקנות או צווים ממשלתיים, מגבלות הרשת, מגבלות צבאיות או ביטחוניות, ואמצעים למניעת הונאה.
        </p>

        <h2>23. שיפוי</h2>
        <p>
            23.1. הלקוח מתחייב לפצות ו/או לשפות את מנהל האתר, מנהליו, עובדיו, נציגיו, בעלי מניותיו, וכל הפועלים מטעמו ו/או עבורו וכל גורם אחר הקשור באספקת השירותים הניתנים באתר, מיד עם דרישתם הראשונה, בגין כל נזק ו/או פגיעה ו/או הפסד ו/או הוצאה ו/או תשלום שייגרמו להם, מכל מין וסוג, לרבות בגין שכ"ט עו"ד והוצאות משפטיות, עקב הפרת הוראות תנאי שימוש אלה ו/או הוראות החוק על ידי הלקוח, וכן עקב כל טענה ו/או דרישה ו/או תביעה שתועלה כנגדם על ידי כל צד שלישי שהוא, בגין הפרת הוראות תנאי שימוש אלה ו/או הוראות החוק על ידי הלקוח. למען הסר ספק מובהר כי, אחריות הלקוח במקרה של התרחשות איזה מהמקרים המפורטים לעיל, כוללת גם נזקים ישירים, עקיפים, תוצאתיים, מקריים ו/או מיוחדים, לרבות פגיעה בשם הטוב, פגיעה במוניטין, אבדן הכנסה, אבדן נתונים ואבדן רווחים. אין בשיפוי הנ"ל בכדי לגרוע מסעדי מנהל האתר על פי כל דין.
        </p>

        <h2>24. שונות</h2>
        <p>
            24.1. הדין החל על הסכם זה ועל השימוש בשירותים ובתכנים הינו הדין הישראלי בלבד, בין שהשימוש בשירותים ובתכנים נעשה בישראל ובין שמחוצה לה. בתי המשפט המוסמכים בתל-אביב-יפו בישראל תהיה סמכות השיפוט הבלעדית לדון בכל מקרה של סכסוך או מחלוקת בקשר עם נושאי הסכם זה ו/או בקשר עם השירותים והתכנים. אין בהוראת סעיף זה כדי למנוע ממנהל האתר, על פי שיקול דעתו הבלעדי, לנקוט בהליך משפטי כנגד לקוח, מחוץ לגבולות מדינת ישראל.<br>
            24.2. הצדדים רשאים, אם יסכימו לכך, לקיים הליך אלטרנטיבי של גישור ו/או בוררות לשם פתרון הסכסוך ו/או המחלוקת ביניהם, כאשר הליך זה יתקיים ללא צורך בנוכחות אישית של הצדדים וללא צורך בשמיעת עדים, אלא אם כן יוסכם אחרת בין הצדדים.<br>
            24.3. כל השתהות של מנהל האתר בקיום זכות המגיעה לו ועל פי המפורט לעיל, או הימנעותו של מנהל האתר מעמידה על זכותו כאמור, לא ייחשבו כוויתור על זכויותיו.<br>
            24.4. כל פטור ו/או העדר אחריות המוקנה למנהל האתר על פי הוראות תנאי השימוש מוקנה בזאת גם למנהליו, עובדיו, נציגיו, בעלי מניותיו, וכל הפועלים מטעמו ו/או עבורו, וכן כל גורם אחר הקשור באספקת השירותים והתכנים, כפי שאלו יהיו מעת לעת.<br>
            24.5. התקנון ניתן לשינוי בכל עת ע"י מנהל האתר, על פי שיקול דעתו הבלעדי. נוסח התקנון כפי שהוא מפורסם באתר הינו הנוסח הקובע בכל עת.
        </p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
