<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/whyGiveGifts.css">
    <title>מדוע חשוב לתת מתנות תמריץ לעובדים</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="why-give-gifts-container">
        <h1>מדוע חשוב לתת מתנות תמריץ לעובדים</h1>
        <p>לסדר את החדר, להכין שיעורי בית ולצחצח שיניים - כבר מילדות יש לא מעט מטלות שלא קל לנו לבצע מכל מיני סיבות: חוסר חשק, עצלנות, "לעשות דווקא" ועוד. כדי להניע ילדים לבצע משימות ומטלות, עלינו למלא אותם במוטיבציה הנכונה ויחד איתם למצוא את המניע הנכון לבצע את הפעולה על מנת לפעול ממקום נכון ובריא.</p>

        <p>החיפוש אחר המוטיבציה לפני שנוקטים בפעולה מסוימת, או מקבלים החלטה, מלווה אותנו עד היותנו בוגרים ונשארת איתנו כל החיים. הרי בסופו של דבר, כל צעד שלנו הן כילד והן כאדם בוגר נובעים ממוטיבציה מסוימת לעשות משהו.</p>

        <p>אז אחרי שהבנו שזהו צורך בסיסי של כל בנאדם לחפש את המוטיבציה ממנה הוא פועל, הרי ברור שגם העובדים שלכם צריכים מוטיבציה כדי להיות יעילים, נאמנים ומסופקים. נכון, הרבה תלוי במשכורת ואופי העובד, אך לכם, כמנהלי ומנהלות אושר ארגוני, יש תפקיד חשוב בהענקת המוטיבציה והעלאת מורל העובדים, שבסופו של דבר יובילו לארגון משגשג, מצליח ומאושר:)</p>

        <p>אחת הדברים לעשות זאת היא על ידי הענקת מתנות לעובדים. עד לפני כמה שנים, התפיסה הרווחת בעולם העסקי הייתה שאם רוצים עובדים יעילים יותר פשוט משלמים להם יותר בונוסים ושכר.</p>

        <p>לא מעט מחקרים מראים שבשנים האחרונות התפיסה הזו לגמרי השתנה וכסף הוא לא בהכרח הגורם שמביא לעובד את המוטיבציה להשקיע ולהיות מרוצה ממקום העבודה.</p>

        <p>הספרות המקצועית מראה שכיום מצופה מחברות חשיבה ופתרונות יצירתיים כדי להפוך אותו למרוצה, מסופק ונאמן: להקדיש תשומת לאושר הארגוני, לגיבוש הצוות, ליכולת של העובד להשפיע, קורסים מקצועיים וכמובן - תמריצים בהזדמנויות הנכונות ולא בכסף.</p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
