body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    direction: rtl; /* כדי לתמוך בכיוון כתיבה מימין לשמאל */
}



main {
    padding: 2rem 2rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 1.8rem; 
    color: #555;
}

h2 {
    font-size: 1.5rem; 
    color: #555;
}

p {
    line-height: 1.6;
}

