body {
    direction: rtl;
    text-align: right;
    margin-bottom: 70px;
}

.container {
    max-width: 960px;
}

.form-control:focus {
    z-index: 2;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    text-align: right;
}




.error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}