/* CSS for contact us Page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #FDFDFD, #FCFCFD);
    direction: rtl;
    text-align: right;
}

/* Contact Us Page Specific Styles */
.contact-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
    font-size: 1.8rem;
}

.contact-container .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-container .col-md-3 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container img {
    max-width: 120px; /* גודל התמונה גדול יותר */
    border-radius: 50%;
    margin-bottom: 15px;
}

.contact-container h3 {
    font-size: 1.2rem;
    color: #333;
}

/* Map container */
#map {
    width: 100vw;
    height: 500px; /* גובה המפה */
    margin-top: 40px;
    border-radius: 10px;
}

.manager {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* כדי לוודא שהתמונות יהיו בצד ימין */
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #E87A6E; 
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease; /* מעבר חלק לאפקט ההבהרה */
}

.manager img {
    width: 120px; /* גודל התמונה גדול יותר */
    height: 120px;
    border-radius: 50%;
    margin-left: 20px; /* מרווח בין התמונה לטקסט */
}
.manager .description {
    background-color: white; /* מלבנים בצבע לבן */
    color: #333;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
}
.description a {
    color: #003366; /* צבע כחול כהה */
}
