/* CSS for Contact Us Page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #FDFDFD, #FCFCFD);
    direction: rtl;
    text-align: right;
}

/* Contact Us Page Specific Styles */
.contact-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
    font-size: 1.8rem;
}

.contact-container .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-container .col-md-3 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container img {
    max-width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.contact-container h3 {
    font-size: 1.2rem;
    color: #333;
}

/* Map container */
#map {
    width: 100vw;
    height: 500px;
    margin-top: 40px;
    border-radius: 10px;
}

.manager {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* To ensure images are on the right side */
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #E87A6E;
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

/* New Additions for Layout */
.manager:nth-child(odd) {
    flex-direction: row-reverse; /* Alternate image and description positions */
}

.manager img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 20px; /* Margin between the image and text */
}

.manager .description {
    background-color: white;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h3 {
    margin: 0 0 10px 0;
}

.description p {
    margin-bottom: 10px;
}

.description a {
    color: #003366;
    font-weight: bold;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

.card-image {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
}

.card {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    background-color: #1D2437; /* Navy Blue */
    color: #FDFDFD; /* Almost White */
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FDFCFD; /* Almost White */
}

.card-text {
    margin-bottom: 15px;
    color: #FCFCFD; /* Almost White */
}

.card-link {
    color: #E87A6E; /* Coral */
    text-decoration: none;
    font-weight: bold;
}

.card-link:hover {
    text-decoration: underline;
}

