@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #FDFCFD, #FCFCFD);
    direction: rtl;
    text-align: right;
}

/* Header Styles */
header {
    width: 100%;
    background-color: #1D2437; /* navy blue */
    color: #FCFCFD; /* almost white */
    padding: 10px 0;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 1000;
}

.header a {
    color: #FCFCFD; /* almost white */
    text-decoration: none;
}

.header .logo h1 {
    margin: 0;
    font-size: 2rem;
}

.header nav .nav-link {
    color: #FCFCFD; /* almost white */
    padding: 0 15px;
}

.header nav .nav-link:hover {
    color: #E87A6E; /* coral */
}

.user-account .nav-link {
    padding: 0 15px;
    color: #FCFCFD; /* almost white */
}

.user-account .nav-link:hover {
    color: #E87A6E; /* coral */
}
