.hero-section {
    width: 100%;
    height: 100vh; /* הגדרת הגובה לגובה המסך כולו */
    overflow: hidden; /* מניעת גלילה במקרה של תמונה גדולה יותר מהמסך */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D1B2A; /* צבע רקע למקרה שהתמונה לא נטענת */
}

.hero-section .image-content {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-image {
    width: 100%;
    height: 90%;
    object-fit: contain; /* הכנת התמונה כך שתתאים לגודל החלק */
}
