@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    padding: 20px;
}

.login {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    margin: 20px auto;
}

.login h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.login p {
    font-size: 16px;
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #E87A6E;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    
}

.btn-login:hover {
    background-color: #D96B5F;
    box-shadow: 0 4px 15px rgba(232, 122, 110, 0.5);
    color: #fff;
}

.btn-outline-primary {
    border: 2px solid #E87A6E;
    color: #fff;
    background-color: #E87A6E;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #D96B5F;
    box-shadow: 0 4px 15px rgba(232, 122, 110, 0.5);
    transform: translateY(-3px);
    color: #fff;
}

.btn-text {
    display: inline;
    color: inherit;
}
