/* body {
    background: url('/css/Images/gifty/backgroung.webp') no-repeat center center fixed;
    background-size: cover;
} */

.profile {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px; /* להוסיף רווח פנימי */
    background: white; /* רקע לבן לכרטיס */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    background: white; /* רקע לבן לכרטיס */
}

.card-header {
    border-bottom: 0;
}

.card-body {
    padding: 2rem;
}

.profile-info .graphic {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    background: url('/css/Images/gifty/graphic-image.png') no-repeat center center;
    background-size: contain;
}

.history h2 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 1rem;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
}

.list-group-item:hover {
    background-color: #007bff;
    color: white;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}

.text-muted {
    color: #6c757d !important;
}
