.full-height-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Full viewport height */
}

.search-bar {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.search-bar h2 {
    color: #0D1B2A; 
    font-family: 'Assistant', sans-serif; /* פונט לכותרת */
    font-size: 2.20rem;
    margin-top: 4rem; /* ריווח עליון גדול יותר לכותרת */
    margin-bottom: 2rem; /* ריווח תחתון לכותרת */
}

.search-bar .form-control, .search-bar .form-control:focus {
    color: #0D1B2A; 
    font-family: 'Assistant', sans-serif; /* פונט לטקסט בשדה החיפוש */
    height: calc(2.50rem + 2px); /* גובה שדה */
    margin-bottom: 0.5rem; /* ריווח תחתון קטן יותר לשדות החיפוש */
}

.search-bar .form-control:hover {
    border: 1px solid #70A9A1; 
}

.search-bar .search-btn {
    background-color: #0D1B2A; 
    color: white;
    border: none; /* הורדת המסגרת לכפתור */
    font-family: 'Assistant', sans-serif; /* פונט לכפתור */
    width: 100%; /* הגדרת רוחב הכפתור */
    height: calc(2.25rem + 2px); /* גובה זהה לשדות הטופס */
    margin: 0; /* הסרת כל מרווח */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* הוספת מעבר חלק */
}

.search-bar .search-btn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* צל לכפתור בעת ה-HOVER */
    background-color: #FF6F61; /* שינוי צבע הרקע בעת ה-HOVER */
    color: #FFFFFF; /* שינוי צבע הטקסט בעת ה-HOVER */
    transform: scale(1.05); /* הגדלת הכפתור בעת ה-HOVER */
}

.search-bar-container {
    margin-bottom: 4rem; /* ריווח תחתון גדול יותר לקונטיינר של ה-Search Bar */
}

.wide-button {
    width: 150%; /* הגדרת רוחב הכפתור */
}