body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}



.search-bar {
    margin: 40px 0;
}

.search-bar input, .search-bar select {
    margin-bottom: 10px;
}

.social-icons a {
    font-size: 2rem;
    margin: 0 15px;
    color: #495057;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}

