/* CSS for Supplier Page */

@import url('styles.css');
@import url('footerHeaderStyles.css');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
  }

  div{
    padding: 10px 5px 10px 5px;
  }
  
.detailsContainer{
    border: 1px solid black;
    display: flex;
    width: 90%;
    height: 100%;
    padding-right: 10px; 
}

.detailsBody{
    text-align: left;
}

.detailsCard{
    margin-top: 100px;
}

.homeLink:hover{
    text-decoration: underline; 
    cursor: pointer;
}

.detailsDescription{
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
}

.detailsContact{

}

.priceCardContainer{
    margin-left: 20px;
    border: 1px solid black;
    height: 250px;
    position: relative;
}

.detailsContactInfo:hover{
    text-decoration: underline; 
    cursor: pointer;
}

.priceInput{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.priceInput::placeholder {
    color: lightgray; 
    opacity: 1;  
  }

  .priceCard-confirmButton{
    width:90%;
    border-radius: 5px;
    color: white;
    background-color: orange;
    border: none;
    position: absolute;
    margin-bottom: 5px;
    bottom: 0;
  }