/* CSS for Supplier Page */

@import url('styles.css');
@import url('footerHeaderStyles.css');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
  }

  div{
    padding: 10px 5px 10px 5px;
  }
  
.detailsContainer{
    border: 1px solid black;
    display: flex;
    width: 90%;
    height: 100%;
    padding-right: 10px; 
}

.detailsBody{
    text-align: left;
}

.detailsCard{
    margin-top: 100px;
}

.homeLink:hover{
    text-decoration: underline; 
    cursor: pointer;
}

.detailsDescription{
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
}

.detailsContact{

}

.detailsContactInfo:hover{
    text-decoration: underline; 
    cursor: pointer;
}

.priceInput{
    text-align: center;
}