/* CSS for Supplier Page */

@import url('styles.css');


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
  }

  div{
    padding: 10px 5px 10px 5px;
  }
  
.detailsContainer{
    position: absolute;
      top: 0%;
      left: 30%;
    border: 1px solid black;
    display: flex;
    width: 300px;
    height: 100%;
    padding-right: 10px; 
    z-index: 1;
}

.detailsBody{
    text-align: left;
}

.detailsCard{
    margin-top: 100px;
}

.homeLink a{
    color: black;
}

.homeLink:hover{
    text-decoration: underline; 
    cursor: pointer;
}

.detailsDescription{
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
   overflow-wrap: break-word ; /* Ensures text wraps within the container */
   word-break: keep-all ; /* For older browsers */
   white-space: normal; /* Ensures that text wraps */
}



.priceCardContainer{
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 5px;
    height: 250px;
    width: 250px;
    position: relative;
    transition: width 0.3s ease, height 0.3s ease;
}

.priceCardContainer:hover{
    height: 270px;
    width: 270px;
}

.detailsContactInfo:hover{
    text-decoration: underline; 
    cursor: pointer;
}

#priceInput{
    width:100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.priceInput::placeholder {
    color: lightgray; 
    opacity: 1;  
  }

  #priceCard-confirmButton{
    width:100%;
    border-radius: 5px;
    color: white;
    background-color: orange;
    border: none;
    /* position: absolute;
    margin-bottom: 5px;
    bottom: 0; */
  }

  .priceAndButton-container{
    border: 1px solid black;
    border-radius: 5px;
  }

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }